<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"><%= t('mensagens.lista_de', model: @espessura_vasos.model_name.human(count: @espessura_vasos.count)) %> - <%= @espessura_vasos.total_count %> </h1>

    <%= form_with(url:admins_backoffice_pesquisa_espessura_vaso_path, local: true, method: :get) do |form| %>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="input-group">      
                    <%= form.text_field :num_serie, class:"bg-light border-0 small", placeholder: "# série...", class:"form-control" %>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="input-group">      
                    <%= form.collection_select :proprietaria_id, @proprietarias, :id, :nome_curto, {include_blank: true }, {class:"form-control"} %>                
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </div>
            
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var numSerieInput = document.getElementById('num_serie');
                    var proprietariaSelect = document.getElementById('proprietaria_id');
                    var submitButton = document.querySelector('button[type="submit"]');

                    function updateSubmitButtonState() {
                        if (numSerieInput.value.trim() !== '' || proprietariaSelect.value !== '') {
                            submitButton.disabled = false;
                        } else {
                            submitButton.disabled = true;
                        }
                    }

                    numSerieInput.addEventListener('input', function() {
                    updateSubmitButtonState();
                    if (this.value.trim() !== '') {
                        proprietariaSelect.disabled = true;
                    } else {
                        proprietariaSelect.disabled = false;
                    }
                    });

                    proprietariaSelect.addEventListener('change', function() {
                    updateSubmitButtonState();
                    if (this.value !== '') {
                        numSerieInput.disabled = true;
                    } else {
                        numSerieInput.disabled = false;
                    }
                    });

                    updateSubmitButtonState();
                });
            </script>


        </div>
    <%end%>

    
</div> <!-- FIM DO CONTAINER DO FORM -->

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">    
        <thead>
            <tr>
                <th>#</th>
                <th>Usuário</th>
                <th>Data</th>                
                <th>Vaso</th>
                <th>Proprietária</th>
                <th>
                    <%= link_to  new_admins_backoffice_espessura_vaso_path, class:"btn btn-success btn-circle btn-sm" do %>
                        <i class="fas fa-plus"></i>
                    <% end %>
                </th>
            </tr>
        </thead>
        <tbody> 
            <% @espessura_vasos.each do |e|%>
                <tr>
                    <td><%= e.id %></td>
                    <td><%= e.user.nome %></td>
                    <td><%= e.data %></td>                    
                    <td><%= e.vaso.num_serie %></td>
                    <td><%= e.vaso.proprietaria.nome_curto %></td>
                    <td style="width: 100px">
                        <%= link_to edit_admins_backoffice_espessura_vaso_path(e.id), class:"btn btn-info btn-circle btn-sm" do %> 
                            <i class="fas fa-edit"></i>
                        <%end%>
                        <%= link_to admins_backoffice_espessura_vaso_path(e.id), 
                                    method: :delete, class:"btn btn-danger btn-circle btn-sm", 
                                    data: { confirm: t('mensagens.confirmar_exclusao', item: e.id)} do %>
                            <i class="fas fa-minus"></i> 
                        <%end%>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @espessura_vasos %>
    
</div>