<div class="col-lg-12">    
    <h1 class="h3 mb-2 text-gray-800"><%= t('mensagens.lista_de', model: @vasos.model_name.human(count: @vasos.count)) %> - <%= @vasos.total_count %> </h1>

    <%= form_with(url:admins_backoffice_pesquisa_vaso_path, local: true, method: :get) do |form| %>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="input-group">      
                    <%= form.text_field :num_serie, class:"bg-light border-0 small", placeholder: "# série...", class:"form-control" %>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="input-group">      
                    <%= form.collection_select :proprietaria_id, @proprietarios, :id, :nome_curto, {include_blank: true }, {class:"form-control"} %>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">                    
                <div class="input-group">                    
                    <%= form.collection_select :corp_id, @corps, :id, :nome, {include_blank: true }, {class:"form-control"} %>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    <%end%>
    
    <h6>
        <span class="badge badge-danger">Em análise</span>
        <span class="badge badge-secondary">Aprovado</span>
    </h6>
    
</div> <!-- FIM DO CONTAINER DO FORM -->            
            

<div class="table-responsive">    
    <table class="table table-striped table-bordered table-hover">    
        <thead>
            <tr>
                <th>
                    <%= link_to  new_admins_backoffice_vaso_path, class:"btn btn-success btn-circle btn-sm" do %>
                        <i class="fas fa-plus"></i>
                    <% end %>
                </th>
                <!--<th>#</th>-->
                <!--<th><%= traduz_atributos_humanos(@vasos, :user_id) %> </th>-->
                <th><%= traduz_atributos_humanos(@vasos, :num_serie) %> </th>               
                <th><%= traduz_atributos_humanos(@vasos, :fabricante_id) %> </th>
                <th><%= traduz_atributos_humanos(@vasos, :proprietaria_id) %> </th>
                
                <th>Pr</th>
                <th>TH</th>
                <th>RS</th>
                <th>Et</th>
                <th>Pq</th>
            </tr>
        </thead>
        <tbody> 
            <% @vasos.each do |v|%>
                <tr>
                    <td style="width: 50px">
                        <%= link_to edit_admins_backoffice_vaso_path(v), class:"btn btn-info btn-circle btn-sm" do %> 
                            <i class="fas fa-edit"></i>
                        <%end%>
                    </td>

                    <!--<td><%= v.id %></td>-->
                    <!--
                    <% if !v.user.blank? %>
                        <td><%= v.user.nome_completo.truncate(10) %></td>
                    <% else %>
                        <td>Sem usuário</td>
                    <% end %>
                    -->
                    <% if !v.rascunho %>
                        <td><h6><span class="badge badge-secondary badge-lg"><%= v.num_serie %></span></h6></td>
                    <% else %>
                        <td><h6><span class="badge badge-danger badge-lg"><%= v.num_serie %></span></h6></td>
                    <% end %>

                    <td><%= v.fabricante.nome_curto.truncate(30) %></td>
                    <td><%= v.proprietaria.nome_curto %></td>

                    <td style="width: 50px">
                        <%= link_to admins_backoffice_vasos_imprime_prontuario_path(v.id, format: :html), class: "btn btn-info btn-circle btn-sm" do %>
                            <i class="fas fa-file"></i>
                        <% end %>
                    </td>

                    <td style="width: 50px">
                        <% @r = Relatorio.where(vaso_id: v.id, insp_contratada_vaso_teste_hidrostatico: true).order(id: :desc).first %>
                        <%= link_to admins_backoffice_vasos_imprime_laudo_th_path(v.id, format: :html), 
                                    class: "btn btn-info btn-circle btn-sm #{'disabled' if @r.nil?}", 
                                    disabled: @r.nil? do %>
                            <i class="fas fa-table"></i>
                        <% end %>
                    </td>


                    <td style="width: 50px">
                        <% @r = Relatorio.where(vaso_id: v.id).order(id: :asc).first %>
                        <%= link_to admins_backoffice_vasos_imprime_abertura_rs_path(v.id, format: :html), 
                                    class: "btn btn-info btn-circle btn-sm #{'disabled' unless @r}" do %>
                            <i class="fas fa-book"></i>
                        <% end %>
                    </td>


                    <td style="width: 50px">
                        <%= link_to admins_backoffice_vasos_imprime_etiqueta_path(v.id, format: :html), class: "btn btn-info btn-circle btn-sm" do %>
                            <i class="fas fa-tag"></i>
                        <% end %>
                    </td>

                    <td style="width: 50px">
                        <%= link_to admins_backoffice_vasos_imprime_plaqueta_path(v.id, format: :html), class: "btn btn-info btn-circle btn-sm" do %>
                            <i class="fas fa-credit-card"></i>
                        <% end %>
                    </td>
                    
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @vasos %>
    
</div>