                            <div class="form-group row">
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Início", type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_insp_inicio" %>                                
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Doc.Exis.",    type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_doc_existente" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Ver.Inic.", type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_verif_iniciais" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Insp.Contr.", type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_insp_contratadas" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Normas", type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_insp_normas" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Instal.", type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_insp_instalacoes" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Dreno", type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_insp_dreno" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Disp.Seg.", type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_insp_dispseg" %>
                                </div>                                
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Manom.", type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_insp_manometro" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Pressost.", type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_insp_pressostato" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Vaso", type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_insp_vaso_outros" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
                                    <%= button_tag "Fotos", type: "submit", class: "btn btn-primary btn-sm btn-custom", name: "btn_fotos" %>
                                </div>                                
                            </div>                            