                            <div class="form-group row">
                                <div class="col-sm-1 mb-3 mb-sm-0">
                                    <%= button_tag "Início", type: "submit", class: "btn btn-primary", name: "btn_insp_inicio" %>                                
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0">
                                    <%= button_tag "Doc",    type: "submit", class: "btn btn-primary", name: "btn_doc_existente" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0">
                                    <%= button_tag "Ver.Ini", type: "submit", class: "btn btn-primary", name: "btn_verif_iniciais" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0">
                                    <%= button_tag "Insp.", type: "submit", class: "btn btn-primary", name: "btn_insp_contratadas" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0">
                                    <%= button_tag "Normas", type: "submit", class: "btn btn-primary", name: "btn_insp_normas" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0">
                                    <%= button_tag "Inst.", type: "submit", class: "btn btn-primary", name: "btn_insp_instalacoes" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0">
                                    <%= button_tag "Manom.", type: "submit", class: "btn btn-primary", name: "btn_insp_manometro" %>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0">
                                    <%= button_tag "Disp.Seg.", type: "submit", class: "btn btn-primary", name: "btn_insp_dispseg" %>
                                </div>                                
                            </div>                            