<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"> <%= action_messege %> </h1>
</div>

<!-- Se tiver algum erro dentro de @admin, erro devido a processo de salvamento por exemplo, entra no alerta abaixo -->
<% if @relatorio.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>        
        <ul>
            <% @relatorio.errors.full_messages.each do |message| %>
            <li> <%= message -%> </li>
            <% end %>
        </ul>
    </div>
<% end %>


<!-- CONTAINER PARA O FORM -->
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <!-- div class="col-lg-5 d-none d-lg-block bg-register-image"></div -->
                
                <div class="col-lg-12">
                    <div class="p-5">
                        <!--div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div-->

                        <%= form_with(model: [ :admins_backoffice, @relatorio ], local: true, :html => { :multipart => true }) do |form| %>
                            
                            <div class="form-group row">     
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <%= form.label :user_id, "Usuário: " %>
                                    <%= form.collection_select(:user_id, @users, :id, :nome_completo, { include_blank: true }, {selected: nil, class: 'select-width-170' }) %>
                                </div>
                                
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <%= form.label :b_rascunho, 'Em aberto' %>
                                    <%= form.check_box :b_rascunho %>
                                </div>
                                
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <%= form.label :tipo_inspecao, 'Inspeção:' %>
                                    <%= form.collection_select(:tipo_inspecao_id, @tipo_inspecaos, :id, :nome, { include_blank: true}, {class: 'select-width-170' }) %>
                                </div>
                            </div>
                            
                            <div class="form-group row">         
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <%= form.label :art_id, 'ART:' %>                                    
                                    <%= form.collection_select(:art_id, @arts, :id, lambda { |art| "#{art.art} - #{art.cadastro.nome_curto}" }, { include_blank: true, selected: nil}, {class: 'select-width-200' }) %>
                                </div>
                                
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <%= form.label :ph_id, 'Proficional:' %>                                    
                                    <%= form.collection_select(:ph_id, @phs, :id, :nome, { include_blank: true, selected: nil}, {class: 'select-width-170' }) %>
                                </div>
                                
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <%= form.label :cidade_id, 'Cidade:' %>                                    
                                    <%= form.collection_select(:cidade_id, @cidades, :id, :nome, { include_blank: true, selected: nil}, {class: 'select-width-170' }) %>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <%= form.label :data_relatorio, 'Data:' %>
                                    <%= form.date_field :data_relatorio, value: Date.current %>
                                </div>
                            
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <%#= form.label :vaso_id, 'Vaso:' %>                                    
                                    <%= form.collection_select(:vaso_id, @vasos, :id, lambda { |vaso| "#{vaso.num_serie} - #{vaso.fabricante.nome_curto}" }, { include_blank: 'Selecione um vaso' }) %>
                                </div>
                                
                                <div class="col-sm-4 mb-3 mb-sm-0">                                    
                                    <%= form.collection_select(:finalidade_vaso_id, @finalidade_vasos, :id, :finalidade, { include_blank: 'Selecione a finalidade' }) %>
                                </div>
                            </div>
                                
                            <div class="form-group row">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <%= form.label :proprietaria_id, 'Proprietária:' %>                                    
                                    <%= form.collection_select(:proprietaria_id, @proprietarias, :id, :nome_curto, { include_blank: true, selected: nil}, {class: 'select-width-170' }) %>
                                </div>
                            
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <%= form.label :inspetora_id, 'Inspetora:' %>                                    
                                    <%= form.collection_select(:inspetora_id, @inspetoras, :id, :nome_curto, { include_blank: true}, {class: 'select-width-170' }) %>
                                </div>
                            </div>
                                
                            <p><b>IDENTIFICAÇÃO DO VASO</b></p>
                            
                           
                            <hr>
                            
                            <button type="submit" class="btn btn-primary"><%=t('botoes.gravar')%></button>
                            
                        <% end %>                                                                     
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- FIM DO CONTAINER DO FORM -->
