<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"> <%= action_messege %> </h1>
</div>

<!-- Se tiver algum erro dentro de @admin, erro devido a processo de salvamento por exemplo, entra no alerta abaixo -->
<% if @cadastro.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>        
        <ul>
            <% @cadastro.errors.full_messages.each do |message| %>
            <li> <%= message -%> </li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with(model: [ :admins_backoffice, @cadastro ], local: true) do |form| %>

    <div class="form-group row">
        <p><b>USUÁRIO</b></p>
        <div class="col-sm-6 mb-3 mb-sm-0">            
            <%= form.collection_select(:user_id, @users, :id, :nome_completo, { include_blank: true }, {selected: nil, style: 'width: 300px;'}) %>
        </div>        
    </div>

    <div class="form-group row">        
        <div class="col-sm-4 mb-3 mb-sm-0">                                           
            <%= form.label :corp_id %>
            <%= form.collection_select :corp_id, @corps, :id, :nome, { include_blank: true }, class:'form-control form-control-sm' %>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <%= form.label :regiao %>
            <%= form.text_field :regiao, placeholder: t('placeholders.entre_regiao'), class:'form-control form-control-sm'%>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <%= form.label :seq_roteiro %>
            <%= form.number_field :seq_roteiro, placeholder: 'Entre com a sequência de roteiro', class:'form-control form-control-sm'%>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">                                           
            <%= form.label :eh_fabricante %>
            <%= form.check_box :eh_fabricante %>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">                                           
            <%= form.label :eh_empresa_inspetora %>
            <%= form.check_box :eh_empresa_inspetora %>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :nome %>
            <%= form.text_field :nome,  placeholder: t('placeholders.entre_nome_empresa'), class:'form-control form-control-sm'%>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :nome_curto %>
            <%= form.text_field :nome_curto, placeholder: t('placeholders.entre_nome_curto_empresa'), class:'form-control form-control-sm'%>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :cnpj %>
            <%= form.text_field :cnpj, placeholder: t('placeholders.entre_cnpj_empresa'), class:'form-control form-control-sm'%>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label "Logradouro" %>
            <%= form.text_field :endereco, placeholder: t('placeholders.entre_logradouro_empresa'), class:'form-control form-control-sm'%>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">            
            <%= form.label "Número" %>
            <%= form.number_field :numero, placeholder: '', class:'form-control form-control-sm'%>
        </div>        

        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :bairro %>
            <%= form.text_field :bairro, placeholder: t('placeholders.entre_bairro_empresa'), class:'form-control form-control-sm'%>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :cidade_id %>
            <%#= form.text_field :cidade, placeholder: 'Entre a cidade'%>            
            <%= form.collection_select :cidade_id, @cidades, :id, :nome, { include_blank: true } , class:'form-control form-control-sm'%>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :cep %>
            <%= form.text_field :cep, placeholder: t('placeholders.entre_cep_empresa'), class:'form-control form-control-sm'%>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :contato %>
            <%= form.text_field :contato, placeholder: t('placeholders.entre_contato_empresa'), class:'form-control form-control-sm'%>
        </div>    
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :fone %>
            <%= form.text_field :fone, placeholder: t('placeholders.entre_fone_empresa'), class:'form-control form-control-sm'%>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :website %>
            <%= form.text_field :website, placeholder: t('placeholders.entre_website_empresa'), class:'form-control form-control-sm'%>
        </div>
        
    </div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :observacoes %>
            <%= form.text_area :observacoes, placeholder: t('placeholders.entre_observacoes_pertinentes'), rows: 3, class:'form-control form-control-sm'%>
        </div>    
        
        
    </div>
    
    <button type="submit" class="btn btn-primary"><%=t('botoes.gravar')%></button>

    <hr>    
<% end %>