<div class="container">
    <h1>Cadastro</h1>
    <label for="nome">Nome:</label>        
    <span id="nome"><%= @cadastro.nome %></span>
    <br>
    <label for="nome_curto">Nome curto:</label>
    <span id="nome_curto"><%= @cadastro.nome_curto %></span>
    <br>
    <label for="cnpj">CNPJ:</label>
    <span id="cnpj"><%= @cadastro.cnpj %></span>
    <br>
    <label for="ie">IE:</label>
    <span id="ie"><%= @cadastro.ie %></span>
    <br>
    <label for="im">IM:</label>
    <span id="im"><%= @cadastro.im %></span>
    <br>
    <h2>Endereço</h2>
    <br>
    <label for="endereco">Endereço:</label>
    <span id="endereco"><%= @cadastro.endereco %></span>
    <label for="numero">, N:</label>
    <span id="numero"><%= @cadastro.numero %></span>
    <br>
    <label for="bairro">Bairro:</label>
    <span id="bairro"><%= @cadastro.bairro %></span>
    <br>
    <label for="cidade">Cidade:</label>
    <span id="cidade"><%= @cadastro.cidade.nome %></span>
    <br>
    <label for="cep">CEP:</label>
    <span id="cep"><%= @cadastro.cep %></span>
    <br>
    <h2>Contato</h2>
    <br>
    <label for="contato">Contato:</label>
    <span id="contato"><%= @cadastro.contato %></span>
    <br>
    <label for="fone">Fone:</label>
    <span id="fone"><%= @cadastro.fone %></span>
    <br>
    <label for="email">Email:</label>
    <span id="email"><%= @cadastro.email %></span>
    <br>
    <label for="website">Website:</label>
    <span id="website"><%= @cadastro.website %></span>
    <br>
</div>