<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800"><%= t('mensagens.lista_de', model: @cadastros.model_name.human(count: @cadastros.count)) %> </h1>
    <%= form_with(url:admins_backoffice_pesquisa_cadastro_path, local: true, method: :get) do |form| %>
        <div class="row">        
                        
            <div class="col-lg-4 col-md-5 col-sm-12 mb-3">
                <div class="input-group">      
                    <%= form.text_field :termo_nome, class:"bg-light border-0 small", placeholder: "Nome curto ...", class:"form-control" %>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-5 col-sm-12 mb-3">                 
                <div class="input-group">                    
                    <%= form.collection_select :corp_id, @corps, :id, :nome, {include_blank: true }, {style: "width: 120px;", class:"form-control"} %>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-2 col-sm-12 mb-3">                
                <button class="btn btn-secondary" type="button" id="custom_submit_button">
                    <i class="fas fa-file-pdf fa-sm"></i> Gerar PDF
                </button>
            </div>
        </div>
    <%end%>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const customSubmitButton = document.getElementById("custom_submit_button");

    customSubmitButton.addEventListener("click", function() {
      const termoNome = document.getElementById("termo_nome").value;
      const corpId = document.getElementById("corp_id").value;
      
      // Construa a URL personalizada com os valores dos campos
      const customUrl = `/admins_backoffice/pesquisa_cadastro_pdf.pdf?termo_nome=${termoNome}&corp_id=${corpId}`;

      // Redirecione o usuário para a URL personalizada
      window.location.href = customUrl;
    });
  });
</script>

<% if @mostrar_botao_pdf %>
  <div class="text-right">
    <%= link_to admins_backoffice_cadastros_path(format: :pdf), class: "btn btn-primary btn-sm" do %>
      <i class="fas fa-file-pdf fa-sm"></i> Gerar PDF
    <% end %>
  </div>
<% end %>


<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">    
        <thead>
            <tr>
                <th>Vasos</th>
                <th>#</th>
                <th><%= traduz_atributos_humanos(@cadastros, :nome_curto) %> </th>
                <th><%= traduz_atributos_humanos(@cadastros, :corp_id) %> </th>
                <th>
                    <%= link_to  new_admins_backoffice_cadastro_path, class:"btn btn-success btn-circle btn-sm" do %>
                        <i class="fas fa-plus"></i>
                    <% end %>
                </th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody> 
            <% @cadastros.each do |cad|%>                                                                              
                <tr>
                    <td>
                        <!-- Botão para acionar modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCadastro<%= cad.id %>">
                            <%= cad.vasos.count %> <!-- Número de vasos vinculados a este cadastro -->
                        </button>
                    </td>
                    <td><%= cad.id %></td>                    
                    <td><%= cad.nome_curto %></td>
                    <td><%= cad.corp.nome %></td>

                    <td style="width: 50px">
                        <%= link_to edit_admins_backoffice_cadastro_path(cad.id), class:"btn btn-info btn-circle btn-sm" do %> 
                            <i class="fas fa-edit"></i>
                        <%end%>                        
                    </td>

                    <td style="width: 50px">
                        
                        <!-- link_to admins_backoffice_path(cad.id, format: :pdf), class: "btn btn-info btn-circle btn-sm" do  -->
                        <%= link_to admins_backoffice_path(cad.id, format: :html), class: "btn btn-info btn-circle btn-sm" do %>
                            <i class="fas fa-eye"></i>
                        <% end %>

                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @cadastros %>
    
</div>





<!-- estilo para tabela que contém os vasos de pressão do cadastro -->
<style>
  .table_vaso td, .table_vaso th {
    font-size: 8px;
  }
</style>

<% @cadastros.each do |cad| %>
    <%hoje = Time.now%>
    <%daqui_seis_meses = hoje.advance(months: 6) %>
    <!-- Modal -->
    <div class="modal fade" id="modalCadastro<%= cad.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= cad.nome_curto %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">  <!-- início da região do conteúdo do modal -->
            Vencimento inspeção externa:
            <span class="badge badge-success">Em até 6 meses sem vaso vencido</span>
            <span class="badge badge-warning">Em até 6 meses com vaso vencido</span>
            <span class="badge badge-danger">Tem vaso vencido</span>
            
            <div class="table-responsive">
                <table class="table table_vaso table-sm">
                    <tr>
                        <th scope="col" rowspan="2">Fabricante</th>
                        <th scope="col" rowspan="2"># série</th>
                        <th scope="col" rowspan="2">Volume [litros]</th>
                        <th scope="col" rowspan="2">PMTA [psi / bar]</th>
                        <th scope="col" rowspan="2">Último relatório</th>
                        <th scope="col" rowspan="2">Data</th>
                        <th style="text-align: center;" colspan="4">Vencimento das inspeções</th>                        
                    </tr>
                    <tr>                        
                        <th scope="col">Externa</th>
                        <th scope="col">Interna</th>
                        <th scope="col">D.Seg.Ext.</th>
                        <th scope="col">D.Seg.Int.</th>
                    </tr>                    

                    <% cad.vasos.each do |vaso| %>
                        <tr scope="row">
                            <td> <%= vaso.fabricante.nome_curto %> </td>
                            <td> <%= vaso.num_serie %> </td>
                            <td> <%= (vaso.volume*1000).round(0) %>&nbsp; </td>
                            <td> <%= (vaso.pmta_atual*145.03773773).round(0).to_s+"/"+(vaso.pmta_atual*10).round(1).to_s %>&nbsp; </td>

                            <% if vaso.relatorios.any? %>
                                <% r = vaso.relatorios.max_by { |relatorio| relatorio.id } %>
                                <% rdispseg = vaso.relatorio_dispsegs.max_by{ |relatorio_dispseg| relatorio_dispseg.id  } %>

                                <td> <%= r.id %> </td>
                                <td> <%= r.data_relatorio_formatada %> </td>
                                
                                <%if !cad.TemVasoVencido(daqui_seis_meses)%>                                            
                                    <td style="color: #000000; background-color: #00cc00;"> <%= r.dt_prox_insp_externa_formatada %> </td>
                                <%elsif !cad.TemVasoVencido(hoje)%>                                            
                                    <td style="color: #000000; background-color: #ff9900;"> <%= r.dt_prox_insp_externa_formatada %> </td>
                                <%else%>                                            
                                    <td style="color: #000000; background-color: #cc0000;"> <%= r.dt_prox_insp_externa_formatada %> </td>
                                <%end%>                               

                                <td style="color: #000000; background-color: #FFFF00;"> <%= r.dt_prox_insp_interna_formatada %> </td>
                                <td style="color: #000000; background-color: #FFFF00;"> <%= rdispseg ? rdispseg.data_prox_insp_formatada : '-' %> </td>
                                <td style="color: #000000; background-color: #FFFF00;"> <%= r.dt_prox_insp_dispseg_interna_formatada %> </td>
                            <% else %>
                                <td> <p class="card-text">Sem relatórios</p> </td>
                            <% end %>



                        </tr>
                    <% end %>                    
                </table>
            </div>



        </div> <!-- fim da região do conteúdo do modal -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
        </div>
    </div>
    </div>
<% end %>
    
