<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800"><%= t('mensagens.lista_de', model: @cadastros.model_name.human(count: @cadastros.count)) %> </h1>
    <%= form_with(url:admins_backoffice_pesquisa_cadastro_path, local: true, method: :get) do |form| %>
        <div class="row">        
                        
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="input-group">      
                    <%= form.text_field :termo_nome, class:"bg-light border-0 small", placeholder: "Nome curto ...", class:"form-control" %>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">                 
                <div class="input-group">                    
                    <%= form.collection_select :corp_id, @corps, :id, :nome, {include_blank: true }, {style: "width: 120px;", class:"form-control"} %>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                    
                </div>
            </div>            
        </div>
    <%end%>
</div>

<% if @mostrar_botao_pdf %>
  <div class="text-right">
    <%= link_to admins_backoffice_cadastros_path(format: :pdf), class: "btn btn-primary btn-sm" do %>
      <i class="fas fa-file-pdf fa-sm"></i> Gerar PDF
    <% end %>
  </div>
<% end %>


<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">    
        <thead>
            <tr>
                <th>#</th>
                <th>Usuário</th>
                <th><%= traduz_atributos_humanos(@cadastros, :nome_curto) %> </th>
                <th><%= traduz_atributos_humanos(@cadastros, :corp_id) %> </th>
                <th>
                    <%= link_to  new_admins_backoffice_cadastro_path, class:"btn btn-success btn-circle btn-sm" do %>
                        <i class="fas fa-plus"></i>
                    <% end %>
                </th>
            </tr>
        </thead>
        <tbody> 
            <% @cadastros.each do |cad|%>                                                                              
                <tr>
                    <td><%= cad.id %></td>
                    <% if !cad.user.blank? %>
                        <td><%= cad.user.nome_completo.truncate(10) %></td>
                    <% else %>
                        <td>Sem usuário</td>
                    <% end %>
                    <td><%= cad.nome_curto %></td>
                    <td><%= cad.corp.nome %></td>

                    <td style="width: 50px">
                        <%= link_to edit_admins_backoffice_cadastro_path(cad.id), class:"btn btn-info btn-circle btn-sm" do %> 
                            <i class="fas fa-edit"></i>
                        <%end%>                        
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @cadastros %>
    
</div>
    
