<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"> <%= action_messege %> - <%= @relatorio.id %></h1>
</div>

<!-- Se tiver algum erro dentro de @relatorio, erro devido a processo de salvamento por exemplo, entra no alerta abaixo -->
<% if @relatorio.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>        
        <ul>
            <% @relatorio.errors.full_messages.each do |message| %>
            <li> <%= message -%> </li>
            <% end %>
        </ul>
    </div>
<% end %>


<!-- CONTAINER PARA O FORM -->
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <!-- div class="col-lg-5 d-none d-lg-block bg-register-image"></div -->
                
                <div class="col-lg-12">
                    <div class="p-5">
                        <!--div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div-->

                        <%= form_with(model: [ :inspetors_backoffice, @relatorio ], local: true, :html => { :multipart => true }) do |form| %>
                            
                            <fieldset class="Identificacao_Inspecao">
                            <legend>Identificação da inspeção</legend>
                                
                                <div class="form-group row">
                                    <%= form.label :tipo_inspecao, 'Inspeção:', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-3 mb-0 mb-sm-0">                                    
                                        <%= form.collection_select(:tipo_inspecao_id, @tipo_inspecaos, :id, :nome, {include_blank: 'Selecione o tipo de inspeção'}, {class: 'select-width-150 form-control' }) %>
                                    </div>

                                    <%= form.label :vaso_id, 'Vaso:', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %> 
                                    <div class="col-sm-3 mb-0 mb-sm-0">                                    
                                        <%= form.collection_select(:vaso_id, @vasos, :id, lambda { |vaso| "#{vaso.num_serie} - #{vaso.fabricante.nome_curto}" }, { include_blank: 'Selecione um vaso' }, {class: 'select-width-150 form-control', id: "vaso-select"}) %>
                                    </div>

                                    <%= form.label :proprietaria_id, 'Empresa:', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-3 mb-0 mb-sm-0">
                                        <%= form.collection_select(:proprietaria_id, @proprietarias, :id, :nome_curto, { include_blank: 'Selecione o proprietário'}, {class: 'select-width-150 form-control', id: "proprietaria-select"}) %>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <%= form.label :cidade_id, 'Cidade:', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-3 mb-0 mb-sm-0">            
                                        <%= form.collection_select(:cidade_id, @cidades, :id, :nome, { include_blank: 'Selecione uma cidade'}, {class: 'select-width-150 form-control' }) %>
                                    </div>

                                    <%= form.label :data_relatorio, 'Data:', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-3 mb-0 mb-sm-0">                                    
                                        <%= form.date_field :data_relatorio, value: @relatorio.id.present? ? @relatorio.data_relatorio : Date.current, class: "form-control" %>
                                    </div>
                                    
                                    
                                </div>
                                    
                                <div class="form-group row">
                                    <%= form.label :finalidade_vaso_id, 'Finalidade:', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-3 mb-0 mb-sm-0">                                    
                                        <%= form.collection_select(:finalidade_vaso_id, @finalidade_vasos, :id, :finalidade, { include_blank: 'Selecione a finalidade' }, {class: 'select-width-150 form-control' }) %>
                                    </div>
                                </div>

                            </fieldset>
                            
                            <hr>

                            <fieldset class="Inspecoes_Contratadas_Vaso">
                            <legend>Inspeções contratadas para o vaso</legend>
                                <div class="checkbox">
                                    <label>
                                        <%= form.check_box :insp_contratada_vaso_inicial %>
                                        "Início de operação (vaso novo)"
                                    </label> 
                                </div>
                                
                                <div class="checkbox">                               
                                    <label>                                  
                                        <%= form.check_box :insp_contratada_vaso_reconstituicao_prontuario %>
                                        Reconstituição de prontuário
                                    </label> 
                                </div>
                                
                                <div class="checkbox">                               
                                    <label>                                   
                                        <%= form.check_box :insp_contratada_vaso_externa %>
                                        Externa
                                    </label> 

                                <div class="checkbox">                               
                                    <label>                                    
                                        <%= form.check_box :insp_contratada_vaso_interna %>
                                        Interna
                                    </label>
                                </div>
                                
                                <div class="checkbox">                               
                                    <label>                                   
                                        <%= form.check_box :insp_contratada_vaso_teste_hidrostatico %>
                                        Teste hidrostático
                                    </label> 
                                </div>

                                <div class="checkbox">                               
                                    <label>                                  
                                        <%= form.check_box :insp_contratada_vaso_mapa_espessura %>
                                        Medida espessura das paredes
                                    </label>
                                </div> 
                            </fieldset>
                            
                            <fieldset class="Inspecoes_Contratadas_Dispositivo_Seguranca">
                            <legend>Inspeções contratadas para o dispositivo de segurança</legend>
                                <div class="checkbox">                               
                                    <label>                                  
                                        <%= form.check_box :insp_contratada_valvsegpop_externa %>
                                        Externa dispositivo de segurança
                                    </label>
                                </div>

                                <div class="checkbox">                               
                                    <label>                                   
                                        <%= form.check_box :insp_contratada_valvsegpop_interna %>
                                        Interna dispositivo de segurança
                                    </label>
                                </div>
                                
                                <div class="checkbox">                               
                                    <label>                                    
                                        <%= form.check_box :serv_contratado_dispseg_calibracao %>
                                        Calibração do dispositivo de segurança
                                    </label>
                                </div>    

                            </fieldset>

                            <fieldset class="ElemOperacao">
                            <legend>Elementos de operação</legend>
                                <div class="checkbox">                               
                                    <label>                                    
                                        <%= form.check_box :insp_pressostato %>
                                        Pressostato
                                    </label>
                                </div>

                                <div class="checkbox">                               
                                    <label>                                    
                                        <%= form.check_box :insp_manometro %>
                                        Manômetro
                                    </label>
                                </div>

                                <div class="checkbox">                               
                                    <label>                                   
                                        <%= form.check_box :insp_dreno %>
                                        Dreno
                                    </label>                                
                                </div>  
                            </fieldset>

                            <hr>

                            <fieldset class="Foto_Antes_Inspecao">
                            <legend>Foto antes da inspeção</legend>
                                <div class="form-group row">
                                    <%#= form.label :foto_antes_inspecao, 'Foto antes inspeção:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>                                                                
                                    <% if @relatorio.foto_antes_inspecao.present? %>
                                        <div class="form-label col-sm-3 mb-0 mb-sm-0">
                                        <img src="data:image/jpeg;base64,<%= Base64.encode64(@relatorio.foto_antes_inspecao) %>" width="auto" height="150">
                                        </div>
                                    <% end %>
                                    <div class="form-label col-sm-3 mb-0 mb-sm-0">                                    
                                        <%= form.file_field :foto_antes_inspecao, id: 'foto-antes-inspecao-input', class: 'input-file' %>
                                    </div>
                                    <div class="form-label col-sm-3 mb-0 mb-sm-0">  
                                        <img id="foto-antes-inspecao-preview" src="#" alt="Preview da Foto" style="display: none; max-width: 200px; max-height: 200px;" />
                                    </div>
                                </div>

                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                    var fileInput = document.getElementById('foto-antes-inspecao-input');
                                    var previewImage = document.getElementById('foto-antes-inspecao-preview');

                                    fileInput.addEventListener('change', function(event) {
                                        var file = event.target.files[0];
                                        var reader = new FileReader();

                                        reader.onload = function() {
                                        previewImage.src = reader.result;
                                        previewImage.style.display = 'block';
                                        }

                                        if (file) {
                                        reader.readAsDataURL(file);
                                        }
                                    });
                                    });
                                </script>
                            </fieldset>


                            <hr>

                            <fieldset class="Verificacoes_Iniciais">
                            <legend>Verificações iniciais</legend>

                                <div class="form-group row">
                                    <%= form.label :'relatorio[tipo_fixacao_vaso]', 'Fixação vaso:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="btn-group col-sm-6 mb-0 mb-sm-0" data-toggle="buttons">
                                        <% options = { "Fixo" => 0, "Móvel" => 1, "Misto" => 2 } %>
                                        <% options.each do |label, value| %>
                                            <label class="btn btn-dark">
                                                <%= radio_button_tag :'relatorio[tipo_fixacao_vaso]', value, @relatorio.tipo_fixacao_vaso == value %>                                            
                                                <%= label %>
                                            </label>
                                        <% end %>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <%= form.label :'relatorio[possui_acesso_visual_externo]', 'Acesso externo:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="btn-group col-sm-6 mb-0 mb-sm-0" data-toggle="buttons">
                                        <% options = { "Não" => 0, "Total" => 1, "Parcial" => 2 } %>
                                        <% options.each do |label, value| %>
                                            <label class="btn btn-dark">
                                                <%= radio_button_tag :'relatorio[possui_acesso_visual_externo]', value, @relatorio.possui_acesso_visual_externo == value %>                                            
                                                <%= label %>
                                            </label>
                                        <% end %>
                                    </div>
                                </div> 

                                <div class="form-group row">
                                    <%= form.label :'relatorio[tipo_acesso_interno]', 'Acesso interno:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="btn-group col-sm-6 mb-0 mb-sm-0" data-toggle="buttons">
                                        <% options = { "Janela de visita" => 0, "Pequena abertura" => 1, "Não" => 2 } %>
                                        <% options.each do |label, value| %>
                                            <label class="btn btn-dark">
                                                <%= radio_button_tag :'relatorio[tipo_acesso_interno]', value, @relatorio.tipo_acesso_interno == value %>
                                                <%= label %>
                                            </label>
                                        <% end %>
                                    </div>
                                </div> 

                                <div class="checkbox">
                                    <label>
                                        <%= form.check_box :b_vaso_inativo_mais_doze_meses %>
                                        Está inativo há mais de 12 meses                                    
                                    </label>
                                </div>
                                
                                <div class="form-group row">
                                    <%= form.label :'relatorio[tipo_apresenta_sinais_reparo]', 'Tem sinais de reparo:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="btn-group col-sm-6 mb-0 mb-sm-0" data-toggle="buttons">
                                        <% options = { "Não" => 0, "Sim - com projeto" => 1, "Sim - sem projeto" => 2 } %>
                                        <% options.each do |label, value| %>
                                            <label class="btn btn-dark">
                                                <%= radio_button_tag :'relatorio[tipo_apresenta_sinais_reparo]', value, @relatorio.tipo_apresenta_sinais_reparo == value %>
                                                <%= label %>
                                            </label>
                                        <% end %>
                                    </div>
                                </div>

                                <div class="form-group row">                                
                                    <%= form.label :reparos_observados, 'Reparos observados:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="form-check col-sm-6 mb-0 mb-sm-0">
                                        <%= form.text_field :reparos_observados, class: "form-control"  %>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <%= form.label :'relatorio[tipo_houve_alteracao_local_instalacao]', 'Local inst. alterado:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="btn-group col-sm-6 mb-0 mb-sm-0" data-toggle="buttons">
                                        <% options = { "Não" => 0, "Sim" => 1, "1a Inspeção" => 2, "Vaso móvel" => 3 } %>
                                        <% options.each do |label, value| %>
                                            <label class="btn btn-dark">
                                                <%= radio_button_tag :'relatorio[tipo_houve_alteracao_local_instalacao]', value, @relatorio.tipo_houve_alteracao_local_instalacao == value %>                                            
                                                <%= label %>
                                            </label>
                                        <% end %>
                                    </div>
                                </div>
                            
                            </fieldset>

                            <hr>

                            <fieldset class="Ambiente_Instalacao">
                            <legend>Ambiente de instalação</legend>

                                <div class="checkbox">                               
                                    <label>  
                                        <%= form.check_box :bpossui_placa_dolocal_deinstalacao %>
                                        Possui placa indicando o local de instalação do vaso
                                    </label>                                   
                                </div>                            
                                
                                <div class="form-group row">                                
                                    <%= form.label :ambiente_inst_id, 'Ambiente de instalação:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-6 mb-0 mb-sm-0">            
                                        <%= form.collection_select(:ambiente_inst_id, @ambiente_insts, :id, :ambiente, { include_blank: 'Selecione um ambiente de instalação'}, {class: 'select-width-150 form-control' }) %>
                                    </div>
                                </div>                            
                                                            
                                <div class="form-group row">
                                    <%= form.label :'relatorio[tipo_cobetura]', 'Cobertura:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="btn-group col-sm-6 mb-0 mb-sm-0" data-toggle="buttons">
                                        <% options = { "Não tem" => 0, "Tem cobertura" => 1, "Cobertura improvisada" => 2 } %>
                                        <% options.each do |label, value| %>
                                            <label class="btn btn-dark">
                                                <% if  @relatorio.tipo_cobetura == value %>
                                                    <%= radio_button_tag :'relatorio[tipo_cobetura]', value, checked: true %>
                                                <%else%>
                                                    <%= radio_button_tag :'relatorio[tipo_cobetura]', value %>
                                                <%end%>
                                                <%= label %>
                                            </label>
                                        <% end %>
                                    </div>
                                </div>
                                
                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bdispoe_duassaidas_amplas_sinalizadas_desobstruidas %>
                                        Dispões de duas saídas amplas sinalizadas
                                    </label>                                   
                                </div>
                                
                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bdispor_acesso_facil_seguro_paraoperacao_manutencao %>
                                        Dispões de acesso fácil e seguro para operação e manutenção
                                    </label>                                   
                                </div>
                                
                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bdispor_ventilacao_permanente %>
                                        Dispõe de ventilação permanente com entradas de ar que não possam ser bloqueadas %>
                                    </label>                                   
                                </div>                                                                                    
                                
                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bdispor_iluminacao_artificial %>
                                        Dispõe de iluminação artificial
                                    </label>                                   
                                </div>
                                
                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bpossui_iluminacao_emergencia %>
                                        Dispõe de iluminação de emergência
                                    </label>                                   
                                </div>
                                
                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :belementos_facilmente_acessiveis_drenosrespiroseoutros %>
                                        Os elementos de controle são acessíveis, drenos, respiros e outros
                                    </label>                                   
                                </div>
                            
                            </fieldset>

                            <hr>

                            <fieldset class="Inspecao_Dreno">
                            <legend>Inspeção no dreno</legend>

                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bdreno_existe %>
                                        Existe dreno
                                    </label>
                                </div>

                                <div class="form-group row">
                                    <%= form.label :tipo_dreno_id, 'Tipo dreno:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-3 mb-0 mb-sm-0">            
                                        <%= form.collection_select(:tipo_dreno_id, @tipo_drenos, :id, :tipo_dreno, { include_blank: 'Selecione o tipo de dreno'}, {class: 'select-width-150 form-control' }) %>
                                    </div>
                                </div>
                                    
                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bdreno_posicionado_ptomais_baixo %>
                                        Posicionado no ponto mais baixo
                                    </label>
                                </div>                                                        
                                
                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bdreno_inclinacao_positiva, id: "DrenoInclinPosCheckbox" %>
                                        Inclinação positiva
                                    </label>
                                </div>

                                <div class="checkbox">                               
                                    <label class="orange-label">
                                        <%= form.check_box :bajuste_inclinacao, id: "DrenoAjusteInclinaCheckbox" %>
                                        Foi ajustada a inclinação
                                    </label>
                                </div>

                                <script>
                                    document.addEventListener("DOMContentLoaded", function() {
                                        var inclinacaoPositivaCheckbox = document.getElementById("DrenoInclinPosCheckbox");
                                        var ajusteInclinacaoCheckbox = document.getElementById("DrenoAjusteInclinaCheckbox");

                                        function updateAjusteInclinacaoCheckbox() {
                                        if (inclinacaoPositivaCheckbox.checked) {
                                            ajusteInclinacaoCheckbox.checked = false;
                                            ajusteInclinacaoCheckbox.disabled = true;
                                        } else {
                                            ajusteInclinacaoCheckbox.disabled = false;
                                        }
                                        }

                                        inclinacaoPositivaCheckbox.addEventListener("change", function() {
                                        updateAjusteInclinacaoCheckbox();
                                        });

                                        updateAjusteInclinacaoCheckbox();
                                    });
                                </script>
                                
                                <div class="checkbox">                               
                                    <label class="orange-label">
                                        <%= form.check_box :bdreno_foisubstituido %>
                                        Foi substituido/instalado
                                    </label>
                                </div>
                                
                                <div class="checkbox">                               
                                    <label class="orange-label">
                                        <%= form.check_box :bdreno_foiacionado_paradrenar_liqacumulado, id:"DrenoAcionCheckbox" %>
                                        Foi acionado para drenar líquido acumulado
                                    </label>
                                </div>

                                <div class="form-group row">
                                    <%= form.label :dreno_qtdadeliquido_drenado, 'Volume drenado:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right red-label"} %>
                                    <div class="col-sm-4 mb-0 mb-sm-0">
                                        <%= form.number_field :dreno_qtdadeliquido_drenado, step: 10, min: 0, required: false, style: 'width: 150px;', disabled: !@relatorio.bdreno_foiacionado_paradrenar_liqacumulado?, id:"object_volume_drenado" %>
                                        [ml]
                                    </div>
                                </div>
                                                                        
                                <script>
                                    const checkbox = document.getElementById("DrenoAcionCheckbox");
                                    const volumeDrenadoInput = document.getElementById("object_volume_drenado");
                                    
                                    checkbox.addEventListener("change", function() {
                                        volumeDrenadoInput.disabled = !this.checked;                            
                                    });
                                </script>
                                
                                <div class="form-group row">                                
                                    <%= form.label :dreno_observacoes, 'Observações:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="form-check col-sm-6 mb-0 mb-sm-0">
                                        <%= form.text_field :dreno_observacoes, class: "form-control"  %>
                                    </div>
                                </div>

                            </fieldset> 

                            <hr>

                            <fieldset class="Inspecao_Manometro">
                            <legend>Inspeção no manômetro</legend>

                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bpossui_manometro_ousimilar %>
                                        Existe manômetro
                                    </label>
                                </div>

                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bmanometro_ehmantido_calibrado_eemboas_condicoes_operacao, id: "ManometroBoasCondicoesCheckbox" %>
                                        É mantido calibrado e em boas condições
                                    </label>
                                </div>
                                
                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bman_foi_substituido, id: "ManometroSubInsCheckbox" %>
                                        Foi substituído/instalado
                                    </label>
                                </div>

                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        const manometroBoasCondicoesCheckbox = document.getElementById('ManometroBoasCondicoesCheckbox');
                                        const manometroSubInsCheckbox = document.getElementById('ManometroSubInsCheckbox');

                                        // Adiciona um event listener para o segundo campo
                                        manometroSubInsCheckbox.addEventListener('change', function() {
                                        if (this.checked) {
                                            // Desmarca e desabilita o primeiro campo quando o segundo for marcado
                                            manometroBoasCondicoesCheckbox.checked = false;
                                            manometroBoasCondicoesCheckbox.disabled = true;
                                        } else {
                                            // Habilita o primeiro campo se o segundo estiver desmarcado
                                            manometroBoasCondicoesCheckbox.disabled = false;
                                        }
                                        });
                                    });
                                </script>
                                
                                <div class="form-group row">                                
                                    <%= form.label :manometro_observacoes, 'Observações:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="form-check col-sm-6 mb-0 mb-sm-0">
                                        <%= form.text_field :manometro_observacoes, class: "form-control"  %>
                                    </div>
                                </div>
                            
                            </fieldset>

                            <hr>

                            <fieldset class="Inspecao_Dispositivo_Seguranca">
                            <legend>Inspeção no dispositivo de segurança</legend>

                                <div class="form-group row">
                                    <%= form.label :'relatorio[possui_dispositivo_deseguranca]', 'Existe disp. de segurança', {class: "col-sm-2 col-form-label text-sm-left text-lg-right red-label"} %>
                                    <div class="btn-group col-sm-6 mb-0 mb-sm-0" data-toggle="buttons">
                                        <% options = { "Não" => 0, "Válvula de segurança" => 1, "Válvula de alívio" => 2, "Válvula de segurança e alívio" => 3 } %>
                                        <% options.each do |label, value| %>
                                            <label class="btn btn-dark">
                                                <% if  @relatorio.possui_dispositivo_deseguranca == value %>
                                                    <%= radio_button_tag :'relatorio[possui_dispositivo_deseguranca]', value, checked: true %>
                                                <%else%>
                                                    <%= radio_button_tag :'relatorio[possui_dispositivo_deseguranca]', value %>
                                                <%end%>
                                                <%= label %>
                                            </label>
                                        <% end %>
                                    </div>
                                </div>
                                
                                <div class="checkbox">                               
                                    <label class="red-label"> 
                                        <%= form.check_box :bBloqueioInadvertidoIntencionalDoDispSeg %>
                                        Dispositivo de segurança bloqueado
                                    </label>
                                </div>

                                <div class="checkbox">                               
                                    <label class="orange-label">
                                        <%= form.check_box :bdispseg_foisubstituido %>
                                        Foi substituído/instalado
                                    </label>
                                </div>
                                
                                <div class="form-group row">
                                    <%= form.label :dispositivoseg_pabertura, 'Pressão de abertura:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right red-label"} %>
                                    <div class="col-sm-4 mb-0 mb-sm-0">
                                        <%= form.number_field :dispositivoseg_pabertura, step: 0.001, min: -10, required: false, style: 'width: 150px;' %>
                                        [MPa]
                                    </div>
                                </div>

                                <div class="form-group row">                                
                                    <%= form.label :dispositivoseg_observacoes, 'Observações:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="form-check col-sm-6 mb-0 mb-sm-0">
                                        <%= form.text_field :dispositivoseg_observacoes, class: "form-control"  %>
                                    </div>
                                </div>

                            </fieldset>

                            <hr>

                            <fieldset class="Inspecao_Pressostato">
                            <legend>Inspeção no pressostato</legend>

                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bpressostato_existe %>
                                        Existe pressostato
                                    </label>
                                </div>
                                
                                <div class="checkbox">                               
                                    <label> 
                                        <%= form.check_box :bpressostato_ehmantido_calibrado_eemboas_condicoes_operacao, id: "PressostatoManCalCheckbox" %>
                                        É mantido calibrado e em boas condições
                                    </label>
                                </div>
                                
                                <div class="checkbox">                               
                                    <label class="orange-label"> 
                                        <%= form.check_box :bpressostato_foisubstituido, id: "PressostatoSubsCheckbox" %>
                                        Foi substituido/instalado
                                    </label>
                                </div> 

                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        const pressostatoBoasCondicoesCheckbox = document.getElementById('PressostatoManCalCheckbox');
                                        const pressostatoSubInsCheckbox = document.getElementById('PressostatoSubsCheckbox');

                                        // Adiciona um event listener para o segundo campo
                                        pressostatoSubInsCheckbox.addEventListener('change', function() {
                                        if (this.checked) {
                                            // Desmarca e desabilita o primeiro campo quando o segundo for marcado
                                            pressostatoBoasCondicoesCheckbox.checked = false;
                                            pressostatoBoasCondicoesCheckbox.disabled = true;
                                        } else {
                                            // Habilita o primeiro campo se o segundo estiver desmarcado
                                            pressostatoBoasCondicoesCheckbox.disabled = false;
                                        }
                                        });
                                    });
                                </script>                           
                                
                                <div class="checkbox">                               
                                    <label class="orange-label">
                                        <%= form.check_box :bpressostato_foiverificada_faixadetrabalho, id: "PressostatoVerifFaixaCheckbox" %>
                                        Foi verificada a faixa de trabalho
                                    </label>
                                </div>

                                <div class="form-group row">
                                    <%= form.label :pressostato_pliga, 'Pressão liga:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right red-label"} %>
                                    <div class="col-sm-4 mb-0 mb-sm-0">
                                        <%= form.number_field :pressostato_pliga, step: 0.001, min: -10, required: false, style: 'width: 150px;', disabled: !@relatorio.bpressostato_foiverificada_faixadetrabalho?, id:"object_pressostato_pliga"  %>
                                        [MPa]
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <%= form.label :pressostato_pdesliga, 'Pressão desliga:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right red-label"} %>
                                    <div class="col-sm-4 mb-0 mb-sm-0">
                                        <%= form.number_field :pressostato_pdesliga, step: 0.001, min: -10, required: false, style: 'width: 150px;', disabled: !@relatorio.bpressostato_foiverificada_faixadetrabalho?, id:"object_pressostato_pdesliga"  %>
                                        [MPa]
                                    </div>
                                </div>
                                
                                <script>
                                    const checkboxPressostato = document.getElementById("PressostatoVerifFaixaCheckbox");
                                    const pligaInput = document.getElementById("object_pressostato_pliga");
                                    const pdesligaInput = document.getElementById("object_pressostato_pdesliga");
                                    
                                    checkboxPressostato.addEventListener("change", function() {
                                        pligaInput.disabled = !this.checked;
                                        pdesligaInput.disabled = !this.checked;
                                    });
                                </script>
                                            
                                <div class="form-group row">                                
                                    <%= form.label :pressostato_observacoes, 'Observações:', {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="form-check col-sm-6 mb-0 mb-sm-0">
                                        <%= form.text_field :pressostato_observacoes, class: "form-control"  %>
                                    </div>
                                </div>

                            </fieldset>

                            <hr>

                            <fieldset class="Inspecao_Externa_Vaso">
                            <legend>Inspeção externa no vaso</legend>

                                <div class="checkbox">                               
                                    <label>
                                        <%= form.check_box :bpintura_emboas_condicoes %>
                                        A pintura está em boas condições
                                    </label>
                                </div>

                                <div class="checkbox">                               
                                    <label class="red-label">
                                        <%= form.check_box :bexiste_deformacoes_trincas_vazamentos_vaso %>
                                        Existem deformações, trincas, vazamentos ou outros que comprometam a integridade estrutural do vaso
                                     </label>
                                </div>
                            
                                <div class="checkbox">                               
                                    <label>
                                        <%= form.check_box :bexiste_corrosaoacentuada_trincas_oupartes_soltas %>
                                        Existe corrosão acentuada, trincas ou partes soltas
                                     </label>
                                </div>

                                <div class="checkbox">                               
                                    <label>
                                        <%= form.check_box :bexiste_falha_nasolda_entreberco_ecasco_dovaso %>
                                        Existe falha na solda entre o berço e o casco do vaso
                                     </label>
                                </div> 

                                <div class="checkbox">                               
                                    <label>
                                        <%= form.check_box :bexiste_corrosao_outrincas_noselementos_fixacao %>
                                        Existe corrosão ou trinca nos elementos de fixação
                                     </label>
                                </div>

                                <fieldset class="Foto_Corpo">
                                <legend>Foto corpo</legend>
                                    <div class="form-group row">
                                        <% if @relatorio.foto_corpo.present? %>
                                            <div class="form-label col-sm-3 mb-0 mb-sm-0">
                                            <img src="data:image/jpeg;base64,<%= Base64.encode64(@relatorio.foto_corpo) %>" width="auto" height="150">
                                            </div>
                                        <% end %>
                                        <div class="form-label col-sm-3 mb-0 mb-sm-0">                                    
                                            <%= form.file_field :foto_corpo, id: 'foto-corpo-input', class: 'input-file' %>
                                        </div>
                                        <div class="form-label col-sm-3 mb-0 mb-sm-0">  
                                            <img id="foto-corpo-preview" src="#" alt="Preview da Foto" style="display: none; max-width: 200px; max-height: 200px;" />
                                        </div>
                                    </div>

                                    <script>
                                        document.addEventListener('DOMContentLoaded', function() {
                                        var fileInput = document.getElementById('foto-corpo-input');
                                        var previewImage = document.getElementById('foto-corpo-preview');

                                        fileInput.addEventListener('change', function(event) {
                                            var file = event.target.files[0];
                                            var reader = new FileReader();

                                            reader.onload = function() {
                                            previewImage.src = reader.result;
                                            previewImage.style.display = 'block';
                                            }

                                            if (file) {
                                            reader.readAsDataURL(file);
                                            }
                                        });
                                        });
                                    </script>
                                </fieldset>

                                <fieldset class="Inspecao_Externa_Vaso_Outros">
                                <legend>Inspeção externa no vaso - outros</legend>

                                    <div class="checkbox">                               
                                        <label class="red-label">
                                            <%= form.check_box :baspartes_moveis_estao_protegidas %>
                                            As partes móveis estão protegidas
                                        </label>
                                    </div>

                                    <div class="checkbox">                               
                                        <label>
                                            <%= form.check_box :basconexoes_eacessorios_estao_emboas_condicoesfisicas %>
                                            As conexões e acessórios estão em boas condições
                                        </label>
                                    </div>
                                    
                                    <div class="checkbox">                               
                                        <label>
                                            <%= form.check_box :basconexoes_acessorios_apresentamvazamentos %>
                                            As conexões e/ou acessórios apresentam vazamentos
                                        </label>
                                    </div>

                                </fieldset>

                                <fieldset class="Inspecao_Externa_Vaso_Acesso">
                                <legend>Inspeção externa no vaso - acesso</legend>

                                    <div class="form-group row">
                                        <%= form.label :'relatorio[tipo_degrausacesso_eguardacorpo_boascondicoes]', 'Degraus de acesso e guarda corpo em boas condições:', {class: "col-sm-5 col-form-label text-sm-left text-lg-right"} %>
                                        <div class="btn-group col-sm-6 mb-0 mb-sm-0" data-toggle="buttons">
                                            <% options = { "Não" => 0, "Sim" => 1, "Não necessário" => 2, "Não existe" => 3 } %>
                                            <% options.each do |label, value| %>
                                                <label class="btn btn-dark">
                                                    <% if  @relatorio.tipo_degrausacesso_eguardacorpo_boascondicoes == value %>
                                                        <%= radio_button_tag :'relatorio[tipo_degrausacesso_eguardacorpo_boascondicoes]', value, checked: true %>
                                                    <%else%>
                                                        <%= radio_button_tag :'relatorio[tipo_degrausacesso_eguardacorpo_boascondicoes]', value %>
                                                    <%end%>
                                                    <%= label %>
                                                </label>
                                            <% end %>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <%= form.label :'relatorio[partesup_pisos_passarelas_platafor_eos_perfis_sustent_emboascon]', 'Passarelas, plataformas e perfís de sustentação em boas condições:', {class: "col-sm-5 col-form-label text-sm-left text-lg-right"} %>
                                        <div class="btn-group col-sm-6 mb-0 mb-sm-0" data-toggle="buttons">
                                            <% options = { "Não" => 0, "Sim" => 1, "Não necessário" => 2, "Não existe" => 3 } %>
                                            <% options.each do |label, value| %>
                                                <label class="btn btn-dark">
                                                    <% if  @relatorio.partesup_pisos_passarelas_platafor_eos_perfis_sustent_emboascon == value %>
                                                        <%= radio_button_tag :'relatorio[partesup_pisos_passarelas_platafor_eos_perfis_sustent_emboascon]', value, checked: true %>
                                                    <%else%>
                                                        <%= radio_button_tag :'relatorio[partesup_pisos_passarelas_platafor_eos_perfis_sustent_emboascon]', value %>
                                                    <%end%>
                                                    <%= label %>
                                                </label>
                                            <% end %>
                                        </div>
                                    </div> 

                                </fieldset>

                                <div class="form-group row">                                
                                    <%= form.label :obs_inspecao_elementos_sobre_o_vaso_ou_nao, 'Observações:', {class: "col-sm-0 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="form-check col-sm-6 mb-0 mb-sm-0">
                                        <%= form.text_field :obs_inspecao_elementos_sobre_o_vaso_ou_nao, class: "form-control"  %>
                                    </div>
                                </div>   
                                
                            </fieldset>

                            <hr>
                            
                            <fieldset class="Foto_Pos_Inspecao">
                            <legend>Foto depois da inspeção</legend>
                                <div class="form-group row">
                                    <% if @relatorio.foto_pos_inspecao.present? %>
                                        <div class="form-label col-sm-3 mb-0 mb-sm-0">
                                        <img src="data:image/jpeg;base64,<%= Base64.encode64(@relatorio.foto_pos_inspecao) %>" width="auto" height="150">
                                        </div>
                                    <% end %>
                                    <div class="form-label col-sm-3 mb-0 mb-sm-0">                                    
                                        <%= form.file_field :foto_pos_inspecao, id: 'foto-pos-inspecao-input', class: 'input-file' %>
                                    </div>
                                    <div class="form-label col-sm-3 mb-0 mb-sm-0">  
                                        <img id="foto-pos-inspecao-preview" src="#" alt="Preview da Foto" style="display: none; max-width: 200px; max-height: 200px;" />
                                    </div>
                                </div>

                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                    var fileInput = document.getElementById('foto-pos-inspecao-input');
                                    var previewImage = document.getElementById('foto-pos-inspecao-preview');

                                    fileInput.addEventListener('change', function(event) {
                                        var file = event.target.files[0];
                                        var reader = new FileReader();

                                        reader.onload = function() {
                                        previewImage.src = reader.result;
                                        previewImage.style.display = 'block';
                                        }

                                        if (file) {
                                        reader.readAsDataURL(file);
                                        }
                                    });
                                    });
                                </script>
                            </fieldset>

                            <fieldset class="Foto_Instalacao">
                            <legend>Foto da instalação</legend>
                                <div class="form-group row">
                                    <% if @relatorio.foto_instalacao.present? %>
                                        <div class="form-label col-sm-3 mb-0 mb-sm-0">
                                        <img src="data:image/jpeg;base64,<%= Base64.encode64(@relatorio.foto_instalacao) %>" width="auto" height="150">
                                        </div>
                                    <% end %>
                                    <div class="form-label col-sm-3 mb-0 mb-sm-0">                                    
                                        <%= form.file_field :foto_instalacao, id: 'foto-instalacao-input', class: 'input-file' %>
                                    </div>
                                    <div class="form-label col-sm-3 mb-0 mb-sm-0">  
                                        <img id="foto-instalacao-preview" src="#" alt="Preview da Foto" style="display: none; max-width: 200px; max-height: 200px;" />
                                    </div>
                                </div>

                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                    var fileInput = document.getElementById('foto-instalacao-input');
                                    var previewImage = document.getElementById('foto-instalacao-preview');

                                    fileInput.addEventListener('change', function(event) {
                                        var file = event.target.files[0];
                                        var reader = new FileReader();

                                        reader.onload = function() {
                                        previewImage.src = reader.result;
                                        previewImage.style.display = 'block';
                                        }

                                        if (file) {
                                        reader.readAsDataURL(file);
                                        }
                                    });
                                    });
                                </script>
                            </fieldset>

                            <hr>

                            <%= button_tag "Gravar", type: "submit", class: "btn btn-primary" %>
                            <%= button_tag "Cancelar", type: "button", class: "btn btn-secondary", onclick: "window.history.back();" %>
                                                        
                        <% end %>                                                                     
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- FIM DO CONTAINER DO FORM -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var vasoSelect = document.getElementById('vaso-select');
        var proprietariaSelect = document.getElementById('proprietaria-select');
        
        vasoSelect.addEventListener('change', function() {                                
            var vasoId = vasoSelect.value;
            var confirmDialog = confirm("Deseja atribuir a proprietária do vaso selecionado ao Relatorio de inspeção?");
            if (confirmDialog) {
                fetch('/admins_backoffice/vasos/' + vasoId + '/json_data')
                .then(response => response.json())
                .then(data => {
                    proprietariaSelect.value = data.proprietaria_id;
                })
                .catch(error => console.error(error));                                
            }
        });
    });
</script>