<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"><%= t('mensagens.lista_de', model: @classe_fluidos.model_name.human(count: @classe_fluidos.count)) %> </h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">    
        <thead>
            <tr>
                <th>#</th>
                <th><%= traduz_atributos_humanos(@classe_fluidos, :classe) %> </th>
                <th><%= traduz_atributos_humanos(@classe_fluidos, :descricao) %> </th>
                <th>
                    <%= link_to  new_admins_backoffice_classe_fluido_path, class:"btn btn-success btn-circle btn-sm" do %>
                        <i class="fas fa-plus"></i>
                    <% end %>
                </th>
            </tr>
        </thead>
        <tbody> 
            <% @classe_fluidos.each do |c|%>
                <tr>
                    <td><%= c.id %></td>
                    <td><%= c.classe %></td>
                    <td><%= c.descricao.truncate(30) %></td>

                    <td style="width: 100px">
                        <%= link_to edit_admins_backoffice_classe_fluido_path(c.id), class:"btn btn-info btn-circle btn-sm" do %> 
                            <i class="fas fa-edit"></i>
                        <%end%>
                        <%= link_to admins_backoffice_classe_fluido_path(c.id), 
                                    method: :delete, class:"btn btn-danger btn-circle btn-sm", 
                                    data: { confirm: t('mensagens.confirmar_exclusao', item: c.classe)} do %>
                            <i class="fas fa-minus"></i> 
                        <%end%>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @classe_fluidos %>
    
</div>
