<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"> <%= action_messege %> </h1>
</div>

<!-- Se tiver algum erro dentro de @potencial_risco, erro devido a processo de salvamento por exemplo, entra no alerta abaixo -->
<% if @potencial_risco.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>        
        <ul>
            <% @potencial_risco.errors.full_messages.each do |message| %>
            <li> <%= message -%> </li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with(model: [ :admins_backoffice, @potencial_risco ], local: true) do |form| %>
    
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :potencial_risco %>
            <%= form.text_field :potencial_risco %>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :descricao %>
            <%= form.text_field :descricao %>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"><%=t('botoes.gravar')%></button>

    <hr>    
<% end %>