<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"><%= t('mensagens.lista_de', model: @fluido_calibracao_valv_segs.model_name.human(count: @fluido_calibracao_valv_segs.count)) %> </h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">    
        <thead>
            <tr>
                <th>#</th>
                <th><%= traduz_atributos_humanos(@fluido_calibracao_valv_segs, :fluido_calibracao_valv_segs) %> </th>                
                <th>
                    <%= link_to  new_admins_backoffice_fluido_calibracao_valv_seg_path, class:"btn btn-success btn-circle btn-sm" do %>
                        <i class="fas fa-plus"></i>
                    <% end %>
                </th>
            </tr>
        </thead>
        <tbody> 
            <% @fluido_calibracao_valv_segs.each do |d|%>
                <tr>
                    <td><%= d.id %></td>
                    <td><%= d.descricao %></td>
                    
                    <td style="width: 100px">
                        <%= link_to edit_admins_backoffice_fluido_calibracao_valv_seg_path(d.id), class:"btn btn-info btn-circle btn-sm" do %> 
                            <i class="fas fa-edit"></i>
                        <%end%>
                        <%= link_to admins_backoffice_fluido_calibracao_valv_seg_path(d.id), 
                                    method: :delete, class:"btn btn-danger btn-circle btn-sm", 
                                    data: { confirm: t('mensagens.confirmar_exclusao', item: d.descricao)} do %>
                            <i class="fas fa-minus"></i> 
                        <%end%>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @fluido_calibracao_valv_segs %>
    
</div>