<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"><%= t('mensagens.lista_de', model: @mtp_num_series.model_name.human(count: @mtp_num_series.count)) %> </h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">    
        <thead>
            <tr>
                <th>#</th>
                <th>Núm. série MTP </th>
                <th>Fab. do vaso</th>
                <th>Proprietária</th>
                <th>
                    <%= link_to  new_admins_backoffice_mtp_num_series_path, class:"btn btn-success btn-circle btn-sm" do %>
                        <i class="fas fa-plus"></i>
                    <% end %>
                </th>
            </tr>
        </thead>
        <tbody> 
            <% @mtp_num_series.each do |a|%>
                <tr>
                    <td><%= a.id %></td>
                    <td><%= a.serie %></td>
                    <td><%#= a.vaso.fabricante.nome_curto %><%= a.vaso %></td>
                    <td><%#= a.vaso.proprietaria.nome_curto %></td>                    
                    <td style="width: 50px">
                        <%= link_to edit_admins_backoffice_mtp_num_series_path(a.id), class:"btn btn-info btn-circle btn-sm" do %> 
                            <i class="fas fa-edit"></i>
                        <%end%>                        
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @mtp_num_series %>

</div>