<div class="container-fluid">
  
  <div class="form-group row mt-3">      
    <div class="col-md-8 d-flex align-items-center">
      <%= form_with(url: site_pesquisa_path, local: true, method: :get, class:"form-inline") do |form| %> 
        <div class="input-group">          
          <%= form.text_field :termo, class:"form-control", placeholder:"# série" %>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    
  <%= form_with url: site_pesq_fab_prop_path, local: true, method: :get do |f| %>
    <div class="form-group row">              
        <div class="col-sm-2 mb-3 mb-sm-0">                                        
          <%= f.collection_select :fabricante_id, @fabricantes, :id, :nome_curto, {include_blank: "Fabricante" }, {class: "form-control"} %>
        </div>                
        <div class="col-sm-2 mb-3 mb-sm-0">          
          <%= f.collection_select :proprietaria_id, @proprietarias, :id, :nome_curto, {include_blank: "Proprietaria" }, {class: "form-control"} %>
        </div>        
        <div class="col-sm-2 mb-3 mb-sm-0">          
          <%= f.collection_select :corporacao_id, @corps, :id, :nome, {include_blank: "Corporação" }, {class: "form-control"} %>
        </div>
        <div class="col-sm-2 mb-3 mb-sm-0">          
          <%= f.submit "Filtrar", class:"btn btn-primary", style: "align-items: center;" %>
        </div>
    </div>
    
  <% end %>

  <div class="form-group row">
    <div class="col-md-12">
      <% if params[:termo].present? %>
        <%="#{@vasos.total_count} - Resultados para a busca de \"#{params[:termo]}\"..."%>&nbsp;&nbsp;&nbsp;
      <% elsif params[:fabricante_id].present? %>    
        <%="#{@vasos.total_count} - Resultados para fabricante \"#{@fab_atual.nome_curto}\"..."%>&nbsp;&nbsp;&nbsp;
      <% elsif params[:proprietaria_id].present? %>
        <%="#{@vasos.total_count} - Resultados para proprietaria \"#{@prop_atual.nome_curto}\"..."%>&nbsp;&nbsp;&nbsp;
      <% elsif params[:corporacao_id].present? %>
        <%="#{@vasos.total_count} - Resultados para corporação \"#{@corp_atual.nome}\"..."%>&nbsp;&nbsp;&nbsp;  
      <% else %>   
        <%= @vasos.total_count %>&nbsp; - &nbsp; Últimos vasos cadastrados... &nbsp;&nbsp;&nbsp;
      <% end %>  
    </div>
  </div>
                                
  
</div>

<% @vasos.each do |v| %>
  <!-- Com o local: true o form abaixo chama a view em html, sem o true chama a view em js -->
  <%= form_with url: site_relatorios_vaso_path, remote: true do |form|%>
    <div class="card">
      <div class="card-header">
        <p>          
          <span class="badge badge-info"><%= v.fabricante.nome_curto %></span>
          &nbsp; - &nbsp; # &nbsp; <%= v.num_serie %>
          <%= number_field_tag 'vaso', v.id, style: "width: 70px; border: none; text-align: right;", readonly: true %>          
        </p>
      </div>
      <div class="card-body">
        <center> <h5 class="card-title"><%= v.proprietaria.nome_curto %></h5> </center>
        <p class="card-text">Cat.: <%= v.catnr13.categoria %></p>
        <p class="card-text">Vol.: <%= v.volume %> [m<sup>3</sup>]</p>
        <p class="card-text">PMTA: <%= v.pmta_atual %> &nbsp; [MPa]</p>
        <p class="card-text">Relatório inicial: <%= v.relatorio_ini_id %></p>        
        <%= form.submit "Último relatório", class:"btn btn-primary", id: "submit_#{v.id}" %>
        &nbsp;&nbsp;
        <%= label_tag 'name', '', id: "data_ultimo_rel_#{v.id}" %>
      </div>
    </div>  
    <br>
  <% end %>
<% end %>

<%= paginate @vasos %>