<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"> <%= action_messege %> </h1>
</div>

<!-- Se tiver algum erro dentro de @disp_seguranca, erro devido a processo de salvamento por exemplo, entra no alerta abaixo -->
<% if @disp_seguranca.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>        
        <ul>
            <% @disp_seguranca.errors.full_messages.each do |message| %>
            <li> <%= message -%> </li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with(model: [ :admins_backoffice, @disp_seguranca ], local: true) do |form| %>

    <div class="form-group row">        
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :serie %>
            <%= form.text_field :serie %>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">                                           
            <%= form.label :cadastro_id %>            
            <%= form.collection_select :cadastro_id, @cadastros, :id, :nome_curto %>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">                                           
            <%= form.label :tipo_dispositivo_seguranca_id %>
            <%= form.collection_select :tipo_dispositivo_seguranca_id, @tipo_dispositivo_segurancas, :id, :nome %>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :castelo %>
            <%= form.text_field :castelo %>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :bitola %>
            <%= form.text_field :bitola %>
        </div>                
    </div>

    <div class="form-group row">
        
    </div>    
    
    <button type="submit" class="btn btn-primary"><%=t('botoes.gravar')%></button>

    <hr>    
<% end %>