<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"><%= t('mensagens.lista_de', model: @finalidade_vasos.model_name.human(count: @finalidade_vasos.count)) %></h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">    
        <thead>
            <tr>
                <th>#</th>                
                <th><%= traduz_atributos_humanos(@finalidade_vasos, :finalidade) %> </th>
                <th>
                    <%= link_to  new_admins_backoffice_finalidade_vaso_path, class:"btn btn-success btn-circle btn-sm" do %>
                        <i class="fas fa-plus"></i>
                    <% end %>
                </th>
            </tr>
        </thead>
        <tbody> 
            <% @finalidade_vasos.each do |f|%>                                                           
                <tr>
                    <td><%= f.id %></td>
                    <td><%= f.finalidade %></td>

                    <td style="width: 50px">
                        <%= link_to edit_admins_backoffice_finalidade_vaso_path(f.id), class:"btn btn-info btn-circle btn-sm" do %>
                            <i class="fas fa-edit"></i>
                        <%end%>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @finalidade_vasos %>
    
</div>