<div class="container page">
    <table class="tableCabecalho">
        <tr>
            <td class="col1"><%= image_tag asset_url('logo.png'), width: '94.5px' %></td>
            <td class="col2">
                <span style="font-size: 18pt; font-weight: bold;">ENGENHARIA MANTINSP LTDA</span><br>
                <span style="font-size: 9pt;">CNPJ 23.526.523/0001-71</span><br>
                <span style="font-size: 9pt;">Rua Guaira, 515 / Fone: 45-98807-2020</span><br>
                <span style="font-size: 9pt;">Toledo/PR / e-mail: mantinsp@gmail.com</span><br>                
            </td>
            <td class="col3">
                <span style="display: block; text-align: center; font-size: 12pt; font-weight: bold">RELATÓRIO N°</span><br>
                <span style="display: block; text-align: center; font-size: 30pt; font-weight: bold; color: #B22222"><%= @espessura_vaso.id %></span><br>
            </td>  
        </tr>
    </table>

    <div style='text-align: center'>
        <span style="font-size: 14pt; font-weight: bold;">MEDIDA DA ESPESSURA DE PAREDE DE VASO DE PRESSÃO</span><br>
        <span style="font-size: 10pt; font-weight: bold;"><%= @espessura_vaso.data.strftime("%d de %b de %Y") %></span>    
    </div>    
    
    <br>
    <table style="width: 100%;">
        <tr>
            <!-- COLUNA ESQUERDA -->
            <td style="width: 60%; vertical-align: top;">

            <span style="font-size: 10pt; font-weight: bold;">Vaso de Pressão</span><br>

            <span style="font-size: 10pt;">Número de série:</span>
            <span style="font-size: 10pt; font-weight: bold;">
                <%= @espessura_vaso.vaso.num_serie %>
            </span><br>

            <span style="font-size: 10pt;">Fabricante:</span>
            <span style="font-size: 10pt; font-weight: bold;">
                <%= @espessura_vaso.vaso.fabricante.nome %>
            </span><br>

            <span style="font-size: 10pt;">Data de fabricação:</span>
            <span style="font-size: 10pt;">
                <%= @espessura_vaso.vaso.dt_fabricacao_reconstituicao.strftime("%d/%m/%Y") %>
            </span>
            <span style="font-size: 8pt;">
                (ou reconstituição do prontuário qdo desconhecida)
            </span><br>

            <span style="font-size: 10pt;">PMTA (*a):</span>
            <span style="font-size: 10pt; font-weight: bold;">
                <%= number_with_precision(@espessura_vaso.vaso.pmta_atual, precision: 3) %>
            </span>
            <span style="font-size: 10pt;">
                MPa = <%= number_with_precision(@espessura_vaso.vaso.pmta_atual * 10, precision: 2) %> bar
            </span><br>

            <% anos = ((@espessura_vaso.data - @espessura_vaso.vaso.dt_fabricacao_reconstituicao).to_i / 365.25).floor %>
            <% if anos > 0 %>
                <span style="font-size: 10pt;">Tempo de operação aproximado:</span>
                <span style="font-size: 10pt;"><%= anos %> anos</span><br>
            <% end %>

            <span style="font-size: 10pt;">Esp. prj. tampo:</span>
            <span style="font-size: 10pt; font-weight: bold;">
                <%= number_with_precision(@espessura_vaso.vaso.esp_projeto_tampo, precision: 2) %>
            </span>
            <span style="font-size: 10pt;"> mm</span><br>

            <span style="font-size: 10pt;">Esp. prj. corpo:</span>
            <span style="font-size: 10pt; font-weight: bold;">
                <%= number_with_precision(@espessura_vaso.vaso.esp_projeto_corpo, precision: 2) %>
            </span>
            <span style="font-size: 10pt;"> mm</span><br>

            </td>

            <!-- COLUNA DIREITA -->
            <td style="width: 40%; vertical-align: top;">

            <span style="font-size: 10pt; font-weight: bold;">Proprietário</span><br>

            <span style="font-size: 10pt;">Razão social:</span>
            <span style="font-size: 10pt; font-weight: bold;">
                <%= @espessura_vaso.vaso.proprietaria.nome %>
            </span><br>

            <span style="font-size: 10pt;">CNPJ/CPF:</span>
            <span style="font-size: 10pt; font-weight: bold;">
                <%= @espessura_vaso.vaso.proprietaria.cnpj %>
            </span><br>

            </td>
        </tr>
    </table>
    <hr>
    <table class="table table-bordered table-striped" style="width: 100%; table-layout: fixed;">
        <thead>
            <tr>
                <th style="width:33.33%;">Corpo</th>
                <th style="width:33.33%;">Tampo</th>
                <th style="width:33.33%;">Mínimas</th>
            </tr>
        </thead>

        <tbody>
            <tr>
            <!-- COLUNA CORPO -->
            <td>
            <ul class="list-unstyled">
                <li>Esp.  1 = <%= number_with_precision(@espessura_vaso.esp_casco_1, precision: 2) %> mm</li>
                <li>Esp.  4 = <%= number_with_precision(@espessura_vaso.esp_casco_4, precision: 2) %> mm</li>
                <li>Esp.  5 = <%= number_with_precision(@espessura_vaso.esp_casco_5, precision: 2) %> mm</li>
                <li>Esp.  6 = <%= number_with_precision(@espessura_vaso.esp_casco_6, precision: 2) %> mm</li>
                <li>Esp.  9 = <%= number_with_precision(@espessura_vaso.esp_casco_9, precision: 2) %> mm</li>
                <li>Esp. 10 = <%= number_with_precision(@espessura_vaso.esp_casco_10, precision: 2) %> mm</li>
            </ul>
            </td>

            <!-- COLUNA TAMPO -->
            <td>
            <ul class="list-unstyled">
                <li>Esp. 2 = <%= number_with_precision(@espessura_vaso.esp_casco_2, precision: 2) %> mm</li>
                <li>Esp. 3 = <%= number_with_precision(@espessura_vaso.esp_casco_3, precision: 2) %> mm</li>
                <li>Esp. 7 = <%= number_with_precision(@espessura_vaso.esp_casco_7, precision: 2) %> mm</li>
                <li>Esp. 8 = <%= number_with_precision(@espessura_vaso.esp_casco_8, precision: 2) %> mm</li>
            </ul>
            </td>

            <!-- COLUNA ESPESSURAS MÍNIMAS -->
            <td>
            <ul class="list-unstyled">
                <li><strong><%= number_with_precision(@espessura_vaso.esp_min_corpo, precision: 2) %> mm</strong> (mín. corpo)</li>
                <li><strong><%= number_with_precision(@espessura_vaso.esp_min_tampo, precision: 2) %> mm</strong> (mín. tampo)</li>
            </ul>
            </td>
            </tr>
        </tbody>
    </table>

    <br>    
    <br>    
    <br> 
    <% if @espessura_vaso.vaso.tipo_vaso_id == 0 %>
        <br><br><br><br><br>
    <% end %>
    <% imagem =
        case @espessura_vaso.vaso.tipo_vaso_id
        when 0 then "vaso_horizontal.png"
        when 1 then "vaso_vertical.png"
        else nil
    end %>

    <div style="text-align: center;">
        <%= image_tag asset_url(imagem),
            alt: "Tipo de vaso",
            style: "max-width: 400px; max-height: 400px;" if imagem.present? %>
    </div>
    <% if @espessura_vaso.vaso.tipo_vaso_id == 0 %>
        <br><br><br><br><br>
    <% end %>
    <br>    
    <br>    
    <br>        
    <br>
    <br>
    <table class="tableAssinatura">
        <tr>
            <td class="col1" style="text-align: center; vertical-align: middle;">
                <div style="display: inline-block; text-align: center;">
                    <span style="font-size: 10pt;">Local e data: <%= @espessura_vaso.inspetora.cidade.nome %>, <%= @espessura_vaso.data.strftime("%d/%m/%Y") %></span><br>
                    <br>
                    <span style="font-size: 10pt;">.................................................</span><br>
                    <span style="font-size: 8pt;">(Carimbo e assinatura)</span>
                    <br>
                    <br>
                    <br>
                </div>
            </td>            
            <td class="col2" style="text-align: center; vertical-align: middle;">
                <div style="display: inline-block; text-align: center;">
                    <span style="font-size: 10pt;">ou</span>
                </div>
            </td>
            <td class="col3">
                <span style="font-size: 10pt;">DOCUMENTO ASSINADO DIGITALMENTE</span><br>
                <span style="font-size: 10pt; font-weight: bold;">Gerson Filippini </span> <span style="font-size: 10pt;"> - <%= @espessura_vaso.data.strftime("%d de %b de %Y") %></span><br>
                <span style="font-size: 10pt; font-weight: bold;">Engenheiro Mecânico </span> <span style="font-size: 10pt;"> CREA 28638/D</span><br>
                <span style="font-size: 10pt;">Verifique em https://validar.iti.gov.br</span><br>
            </td>            
        </tr>
    </table>

</div>