<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"> PH - Avaliação do Relatório - <%= @relatorio.id %></h1>
</div>

<!-- Se tiver algum erro dentro de @admin, erro devido a processo de salvamento por exemplo, entra no alerta abaixo -->
<% if @relatorio.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>        
        <ul>
            <% @relatorio.errors.full_messages.each do |message| %>
            <li> <%= message -%> </li>
            <% end %>
        </ul>
    </div>
<% end %>


<!-- CONTAINER PARA O FORM -->
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <!-- div class="col-lg-5 d-none d-lg-block bg-register-image"></div -->
                
                <div class="col-lg-12">
                    <div class="p-5">
                        <!--div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div-->

                        <%= form_with(model: [ :admins_backoffice, @relatorio ], local: true, :html => { :multipart => true }) do |form| %>
                            
                            <div class="form-group row">
                                <%= form.label :art_id, 'ART', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %>
                                <div class="col-sm-3 mb-0 mb-sm-0">                                    
                                    <%= form.collection_select(:art_id, @arts, :id, lambda { |art| "#{art.art} - #{art.cadastro.nome_curto}" }, { include_blank: 'Selecione uma ART'}, {class: 'select-width-150 form-control' }) %>
                                </div>
                                
                                <%= form.label :ph_id, 'PH', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %>
                                <div class="col-sm-3 mb-0 mb-sm-0">                                    
                                    <%= form.collection_select(:ph_id, @phs, :id, :nome, { include_blank: 'Selecione um profissional'}, {class: 'select-width-150 form-control' }) %>
                                </div>

                                <%= form.label :cidade_id, 'Cidade', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %>
                                <div class="col-sm-3 mb-0 mb-sm-0">            
                                    <%= form.collection_select(:cidade_id, @cidades, :id, :nome, { include_blank: 'Selecione uma cidade'}, {class: 'select-width-150 form-control' }) %>
                                </div>              
                            </div>
                            
                            <div class="form-group row">
                                <%= form.label :data_relatorio, 'Data', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %>
                                <div class="col-sm-3 mb-0 mb-sm-0">                                    
                                    <%= form.date_field :data_relatorio, value: @relatorio.id.present? ? @relatorio.data_relatorio : Date.current, class: "form-control" %>
                                </div>
                            
                                <%= form.label :vaso_id, 'Vaso', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %>
                                <div class="col-sm-3 mb-0 mb-sm-0">                                    
                                    <%= form.collection_select(:vaso_id, @vasos, :id, lambda { |vaso| "#{vaso.num_serie} - #{vaso.fabricante.nome_curto}" }, { include_blank: 'Selecione um vaso' }, {class: 'select-width-150 form-control' }) %>
                                </div>

                                <div class="col-sm-4 mb-0 mb-sm-0">
                                    <%= form.collection_select(:proprietaria_id, @proprietarias, :id, :nome_curto, { include_blank: 'Selecione o proprietário'}, {class: 'select-width-150 form-control' }) %>
                                </div>
                            </div>

                            <fieldset class="Vaso_intervencoes">
                            <legend>Intervenções</legend>
                                <div class="form-group row">
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        <h6><span class="badge badge-secondary">Documentos e afins emitidos</span></h6>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="form-check col-sm-3 mb-0 mb-sm-0">
                                        <%= form.check_box :belaborado_reg_seg, class: "form-check-input", id: "RegSegCheckbox", disabled: @relatorio.bpossui_registro_seguranca ? true : false %>
                                        <%= form.label :belaborado_reg_seg, "Registro de segurança", class: "form-check-label", for: "RegSegCheckbox" %>
                                    </div>

                                    <div class="form-check col-sm-3 mb-0 mb-sm-0">
                                        <%= form.check_box :belaborado_prontuario, class: "form-check-input", id: "ProntuarioCheckbox", disabled: @relatorio.bexiste_prontuario ? true : false %>
                                        <%= form.label :belaborado_prontuario, "Prontuário", class: "form-check-label", for: "ProntuarioCheckbox" %>
                                    </div>
                                            
                                    <div class="form-check col-sm-3 mb-0 mb-sm-0">
                                        <%= form.check_box :belaborado_laudo_th, class: "form-check-input", id: "LaudoTHCheckbox", disabled: @relatorio.bpossui_laudo_teste_hidrostatico ? true : false %>
                                        <%= form.label :belaborado_laudo_th, "Laudo de teste hidrostático", class: "form-check-label", for: "LaudoTHCheckbox" %>
                                    </div>
                                    <div class="form-check col-sm-3 mb-0 mb-sm-0">
                                        <%= form.check_box :b_laudoth_eh_2avia, class: "form-check-input", id: "LaudoTH2aViaCheckbox", disabled: @relatorio.bpossui_laudo_teste_hidrostatico ? true : false %>
                                        <%= form.label :b_laudoth_eh_2avia, "2a via", class: "form-check-label", for: "LaudoTH2aViaCheckbox" %>                                        
                                    </div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            var laudoTHCheckbox = document.getElementById("LaudoTHCheckbox");
                                            var laudoTH2aViaCheckbox = document.getElementById("LaudoTH2aViaCheckbox");

                                            function updateLaudoTH2aViaCheckbox() {
                                            if (!laudoTHCheckbox.checked) {
                                                laudoTH2aViaCheckbox.checked = false;
                                                laudoTH2aViaCheckbox.disabled = true;
                                            } else {
                                                laudoTH2aViaCheckbox.disabled = false;
                                            }
                                            }

                                            laudoTHCheckbox.addEventListener("change", function() {
                                            updateLaudoTH2aViaCheckbox();
                                            });

                                            updateLaudoTH2aViaCheckbox();
                                        });
                                    </script>
                                </div> 

                                <div class="form-group row">
                                    <div class="form-check col-sm-3 mb-0 mb-sm-0">
                                        <%= form.check_box :belaborado_programacao_insp, class: "form-check-input", id: "ProgInspCheckbox", disabled: @relatorio.bpossui_programacao_inspecoes ? true : false %>
                                        <%= form.label :belaborado_programacao_insp, "Programação das inspeções", class: "form-check-label", for: "ProgInspCheckbox" %>
                                    </div>

                                    <div class="form-check col-sm-3 mb-0 mb-sm-0">
                                        <%= form.check_box :belaborado_desenho_plaqueta, class: "form-check-input", id: "ElaboradoDesenhoPlaquetaCheckbox", disabled: @relatorio.bexiste_desenho_plaqueta_identif_vaso ? true : false %>
                                        <%= form.label :belaborado_desenho_plaqueta, "Desenho da plaqueta de indentificação NR13", class: "form-check-label", for: "ElaboradoDesenhoPlaquetaCheckbox" %>                                        
                                    </div>

                                    <div class="form-check col-sm-3 mb-0 mb-sm-0">
                                        <%= form.check_box :belaborado_mapa_espessura, class: "form-check-input", id: "MapaEspessuraCheckbox", disabled: @relatorio.bpossui_mapa_medicao_espessura ? true : false %>
                                        <%= form.label :belaborado_mapa_espessura, "Mapa de medida de espessura", class: "form-check-label", for: "MapaEspessuraCheckbox" %>                                        
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        <h6><span class="badge badge-secondary">Outras intervenções</span></h6>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="form-check col-sm-3 mb-0 mb-sm-0">
                                        <%= form.check_box :belaborada_placa_local_inst, class: "form-check-input", id: "PlacaLocalCheckbox", disabled: @relatorio.bpossui_placa_dolocal_deinstalacao ? true : false %>
                                        <%= form.label :belaborada_placa_local_inst, "Elaborada placa de identificação do local de instalação", class: "form-check-label", for: "PlacaLocalCheckbox" %>
                                    </div>
                                    <div class="form-check col-sm-3 mb-0 mb-sm-0">
                                        <%= form.check_box :belaborado_plaqueta_identificacao, class: "form-check-input", id: "ElaboradaPlaquetaCheckbox", disabled: @relatorio.bpossui_plaqueta_identificacao_nr13_dovaso ? true : false %>
                                        <%= form.label :belaborado_plaqueta_identificacao, "Elaborada plaqueta de indentificação NR13", class: "form-check-label", for: "ElaboradaPlaquetaCheckbox" %>
                                    </div>
                                </div>
                                                                
                                <%= link_to 'Preencher intervenção', admins_backoffice_preenche_intervencoes_path(relatorio_id: @relatorio.id.to_s), data: { remote: true } %>

                                <div class="form-group row">
                                    <%= form.label :intervencoes_feitas_pelo_ph, "Intervenções feitas pelo PH", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-10 mb-3 mb-sm-0">                                        
                                        <%= form.text_area :intervencoes_feitas_pelo_ph, class: "form-control", style: "height: 300px;" %>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset class="Vaso_recomendacoes">
                            <legend>Recomendações</legend>
                                                                
                                <%= link_to 'Preencher recomendações', admins_backoffice_preenche_recomendacoes_path(relatorio_id: @relatorio.id.to_s), data: { remote: true } %>

                                <div class="form-group row">
                                    <%= form.label :recomendacoes_ao_usuario, "Recomendações ao usuário do vaso", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-10 mb-3 mb-sm-0">
                                        <%= form.text_area :recomendacoes_ao_usuario, class: "form-control", style: "height: 300px;" %>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <%= form.label :prazo_recomendacoes, "Prazo para implementar as recomendações", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-2 mb-3 mb-sm-0">                                                                         
                                        <%= form.number_field :prazo_recomendacoes, step: 1, min: 0, class: "form-control" %>                                        
                                    </div>
                                </div>                                

                            </fieldset>

                            <fieldset class="Vaso_rgi">
                            <legend>Itens de Risco Grave e Iminente (RGI)</legend>
                                
                                <%= link_to 'Preencher RGI', admins_backoffice_preenche_rgi_path(relatorio_id: @relatorio.id.to_s), data: { remote: true } %>

                                <div class="form-group row">
                                    <%= form.label :relacao_rgi, "Relação de itens com RISCO GRAVE E IMINENTE", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-10 mb-3 mb-sm-0">
                                        <%= form.text_area :relacao_rgi, class: "form-control", style: "height: 100px;" %>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="Vaso_insp_externa">
                            <legend>Resultado da inspeção externa</legend>
                                
                                <%= link_to 'Preencher resultado padrão', admins_backoffice_preenche_insp_externa_path(relatorio_id: @relatorio.id.to_s), data: { remote: true } %>

                                <div class="form-group row">
                                    <%= form.label :result_insp_externa, "Análise", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-10 mb-3 mb-sm-0">
                                        <%= form.text_area :result_insp_externa, class: "form-control", style: "height: 180px;" %>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="Vaso_insp_interna">
                            <legend>Resultado da inspeção interna</legend>
                                
                                <%= link_to 'Preencher resultado padrão', admins_backoffice_preenche_insp_interna_path(relatorio_id: @relatorio.id.to_s), data: { remote: true } %>

                                <div class="form-group row">
                                    <%= form.label :result_insp_interna, "Análise", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-10 mb-3 mb-sm-0">
                                        <%= form.text_area :result_insp_interna, class: "form-control", style: "height: 180px;" %>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="Vaso_parecer_conclusivo">
                            <legend>Parecer conclusivo</legend>
                                
                                <%= link_to 'Preencher resultado padrão', admins_backoffice_preenche_parecer_conclusivo_path(relatorio_id: @relatorio.id.to_s), data: { remote: true } %>

                                <div class="form-group row">
                                    <%= form.label :parecer_quanto_integridade_vaso, "Análise", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-10 mb-3 mb-sm-0">
                                        <%= form.text_area :parecer_quanto_integridade_vaso, class: "form-control", style: "height: 180px;" %>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="Vaso_programacao_inspecoes">
                            <legend>Programação das inspeções</legend>
                                
                                <div class="form-group row">
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        <h6><span class="badge badge-secondary">Programação vaso</span></h6>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <%= form.label :dt_prox_insp_externa, "Inspeção externa", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        <%= form.date_field :dt_prox_insp_externa, class: "form-control" %>
                                    </div>
                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir-1ano">1</button>
                                    </div>
                                    <!-- Adicione este script na parte inferior do seu HTML -->
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            // Obtenha referências aos elementos
                                            var atribuirBotao = document.getElementById("atribuir-1ano");
                                            var dataRelatorioInput = document.getElementById("relatorio_data_relatorio");
                                            var dtProxInput = document.getElementById("relatorio_dt_prox_insp_externa");

                                            // Adicione um evento de clique ao botão
                                            atribuirBotao.addEventListener("click", function() {
                                                // Obtenha a data do campo "data_relatorio"
                                                var dataRelatorioValue = dataRelatorioInput.value;

                                                // Verifique se a data é válida
                                                if (dataRelatorioValue) {
                                                    var dataRelatorio = new Date(dataRelatorioValue);

                                                    // Adicione 1 ano à data
                                                    dataRelatorio.setFullYear(dataRelatorio.getFullYear() + 1);

                                                    // Formate a nova data no formato "YYYY-MM-DD"
                                                    var novaDataFormatada = dataRelatorio.toISOString().split('T')[0];

                                                    // Coloque a nova data no campo "dt_prox_insp_externa"
                                                    dtProxInput.value = novaDataFormatada;
                                                }
                                            });
                                        });
                                    </script>

                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir-2ano">2</button>
                                    </div>
                                    <!-- Adicione este script na parte inferior do seu HTML -->
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            // Obtenha referências aos elementos
                                            var atribuirBotao = document.getElementById("atribuir-2ano");
                                            var dataRelatorioInput = document.getElementById("relatorio_data_relatorio");
                                            var dtProxInput = document.getElementById("relatorio_dt_prox_insp_externa");

                                            // Adicione um evento de clique ao botão
                                            atribuirBotao.addEventListener("click", function() {
                                                // Obtenha a data do campo "data_relatorio"
                                                var dataRelatorioValue = dataRelatorioInput.value;

                                                // Verifique se a data é válida
                                                if (dataRelatorioValue) {
                                                    var dataRelatorio = new Date(dataRelatorioValue);

                                                    // Adicione 1 ano à data
                                                    dataRelatorio.setFullYear(dataRelatorio.getFullYear() + 2);

                                                    // Formate a nova data no formato "YYYY-MM-DD"
                                                    var novaDataFormatada = dataRelatorio.toISOString().split('T')[0];

                                                    // Coloque a nova data no campo "dt_prox_insp_externa"
                                                    dtProxInput.value = novaDataFormatada;
                                                }
                                            });
                                        });
                                    </script>
                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir-3ano">3</button>
                                    </div>
                                    <!-- Adicione este script na parte inferior do seu HTML -->
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            // Obtenha referências aos elementos
                                            var atribuirBotao = document.getElementById("atribuir-3ano");
                                            var dataRelatorioInput = document.getElementById("relatorio_data_relatorio");
                                            var dtProxInput = document.getElementById("relatorio_dt_prox_insp_externa");

                                            // Adicione um evento de clique ao botão
                                            atribuirBotao.addEventListener("click", function() {
                                                // Obtenha a data do campo "data_relatorio"
                                                var dataRelatorioValue = dataRelatorioInput.value;

                                                // Verifique se a data é válida
                                                if (dataRelatorioValue) {
                                                    var dataRelatorio = new Date(dataRelatorioValue);

                                                    // Adicione 1 ano à data
                                                    dataRelatorio.setFullYear(dataRelatorio.getFullYear() + 3);

                                                    // Formate a nova data no formato "YYYY-MM-DD"
                                                    var novaDataFormatada = dataRelatorio.toISOString().split('T')[0];

                                                    // Coloque a nova data no campo "dt_prox_insp_externa"
                                                    dtProxInput.value = novaDataFormatada;
                                                }
                                            });
                                        });
                                    </script>
                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir-4ano">4</button>
                                    </div>
                                    <!-- Adicione este script na parte inferior do seu HTML -->
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            // Obtenha referências aos elementos
                                            var atribuirBotao = document.getElementById("atribuir-4ano");
                                            var dataRelatorioInput = document.getElementById("relatorio_data_relatorio");
                                            var dtProxInput = document.getElementById("relatorio_dt_prox_insp_externa");

                                            // Adicione um evento de clique ao botão
                                            atribuirBotao.addEventListener("click", function() {
                                                // Obtenha a data do campo "data_relatorio"
                                                var dataRelatorioValue = dataRelatorioInput.value;

                                                // Verifique se a data é válida
                                                if (dataRelatorioValue) {
                                                    var dataRelatorio = new Date(dataRelatorioValue);

                                                    // Adicione 1 ano à data
                                                    dataRelatorio.setFullYear(dataRelatorio.getFullYear() + 4);

                                                    // Formate a nova data no formato "YYYY-MM-DD"
                                                    var novaDataFormatada = dataRelatorio.toISOString().split('T')[0];

                                                    // Coloque a nova data no campo "dt_prox_insp_externa"
                                                    dtProxInput.value = novaDataFormatada;
                                                }
                                            });
                                        });
                                    </script>
                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir-5ano">5</button>
                                    </div>
                                    <!-- Adicione este script na parte inferior do seu HTML -->
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            // Obtenha referências aos elementos
                                            var atribuirBotao = document.getElementById("atribuir-5ano");
                                            var dataRelatorioInput = document.getElementById("relatorio_data_relatorio");
                                            var dtProxInput = document.getElementById("relatorio_dt_prox_insp_externa");

                                            // Adicione um evento de clique ao botão
                                            atribuirBotao.addEventListener("click", function() {
                                                // Obtenha a data do campo "data_relatorio"
                                                var dataRelatorioValue = dataRelatorioInput.value;

                                                // Verifique se a data é válida
                                                if (dataRelatorioValue) {
                                                    var dataRelatorio = new Date(dataRelatorioValue);

                                                    // Adicione 1 ano à data
                                                    dataRelatorio.setFullYear(dataRelatorio.getFullYear() + 5);

                                                    // Formate a nova data no formato "YYYY-MM-DD"
                                                    var novaDataFormatada = dataRelatorio.toISOString().split('T')[0];

                                                    // Coloque a nova data no campo "dt_prox_insp_externa"
                                                    dtProxInput.value = novaDataFormatada;
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="form-group row">
                                    <%= form.label :dt_prox_insp_interna, "Inspeção interna", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        <%= form.date_field :dt_prox_insp_interna, class: "form-control" %>
                                    </div>
                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir_int-10ano">10</button>
                                    </div>
                                    <!-- Adicione este script na parte inferior do seu HTML -->
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            // Obtenha referências aos elementos
                                            var atribuirBotao = document.getElementById("atribuir_int-10ano");
                                            var dataRelatorioInput = document.getElementById("relatorio_data_relatorio");
                                            var dtProxInput = document.getElementById("relatorio_dt_prox_insp_interna");

                                            // Adicione um evento de clique ao botão
                                            atribuirBotao.addEventListener("click", function() {
                                                // Obtenha a data do campo "data_relatorio"
                                                var dataRelatorioValue = dataRelatorioInput.value;

                                                // Verifique se a data é válida
                                                if (dataRelatorioValue) {
                                                    var dataRelatorio = new Date(dataRelatorioValue);

                                                    // Adicione 1 ano à data
                                                    dataRelatorio.setFullYear(dataRelatorio.getFullYear() + 10);

                                                    // Formate a nova data no formato "YYYY-MM-DD"
                                                    var novaDataFormatada = dataRelatorio.toISOString().split('T')[0];

                                                    // Coloque a nova data no campo "dt_prox_insp_externa"
                                                    dtProxInput.value = novaDataFormatada;
                                                }
                                            });
                                        });
                                    </script>
                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir_int_rel_anterior">&#x2190;</button>
                                    </div>
                                    <%= form.label @ultimo_rel.dt_prox_insp_interna, @ultimo_rel.dt_prox_insp_interna.strftime('%d/%m/%Y'), {class: "col-sm-2 col-form-label text-sm-left text-lg-right", id: "prox_insp_interna_ultimo_relatorio"} %>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function() {
                                            const button = document.getElementById('atribuir_int_rel_anterior');
                                            const dataLabel = document.getElementById('prox_insp_interna_ultimo_relatorio');
                                            const dataField = document.getElementById('relatorio_dt_prox_insp_interna');

                                            button.addEventListener('click', function() {
                                            const labelText = dataLabel.textContent;
                                            const dateArray = labelText.split('/');
                                            const formattedDate = `${dateArray[2]}-${dateArray[1]}-${dateArray[0]}`;
                                            
                                            dataField.value = formattedDate;
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="form-group row">
                                    <%= form.label :dt_prox_teste_hidrostatico, "Teste hidrostático", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        <%= form.date_field :dt_prox_teste_hidrostatico, class: "form-control" %>
                                    </div>
                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir_th-15ano">15</button>
                                    </div>
                                    <!-- Adicione este script na parte inferior do seu HTML -->
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            // Obtenha referências aos elementos
                                            var atribuirBotao = document.getElementById("atribuir_th-15ano");
                                            var dataRelatorioInput = document.getElementById("relatorio_data_relatorio");
                                            var dtProxInput = document.getElementById("relatorio_dt_prox_teste_hidrostatico");

                                            // Adicione um evento de clique ao botão
                                            atribuirBotao.addEventListener("click", function() {
                                                // Obtenha a data do campo "data_relatorio"
                                                var dataRelatorioValue = dataRelatorioInput.value;

                                                // Verifique se a data é válida
                                                if (dataRelatorioValue) {
                                                    var dataRelatorio = new Date(dataRelatorioValue);

                                                    // Adicione 1 ano à data
                                                    dataRelatorio.setFullYear(dataRelatorio.getFullYear() + 15);

                                                    // Formate a nova data no formato "YYYY-MM-DD"
                                                    var novaDataFormatada = dataRelatorio.toISOString().split('T')[0];

                                                    // Coloque a nova data no campo "dt_prox_insp_externa"
                                                    dtProxInput.value = novaDataFormatada;
                                                }
                                            });
                                        });
                                    </script>
                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir_th_rel_anterior">&#x2190;</button>
                                    </div>
                                    <%= form.label @ultimo_rel.dt_prox_teste_hidrostatico, @ultimo_rel.dt_prox_teste_hidrostatico.strftime('%d/%m/%Y'), {class: "col-sm-2 col-form-label text-sm-left text-lg-right", id: "prox_th_ultimo_relatorio"} %>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function() {
                                            const button = document.getElementById('atribuir_th_rel_anterior');
                                            const dataLabel = document.getElementById('prox_th_ultimo_relatorio');
                                            const dataField = document.getElementById('relatorio_dt_prox_teste_hidrostatico');

                                            button.addEventListener('click', function() {
                                            const labelText = dataLabel.textContent;
                                            const dateArray = labelText.split('/');
                                            const formattedDate = `${dateArray[2]}-${dateArray[1]}-${dateArray[0]}`;
                                            
                                            dataField.value = formattedDate;
                                            });
                                        });
                                    </script>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        <h6><span class="badge badge-secondary">Programação dispositivo de segurança</span></h6>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <%= form.label :dt_prox_insp_externa_dispositivo_seguranca, "Inspeção externa", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        <%= form.date_field :dt_prox_insp_externa_dispositivo_seguranca, class: "form-control" %>
                                    </div>
                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir_ext_dispseg-1ano">1</button>
                                    </div>
                                    <!-- Adicione este script na parte inferior do seu HTML -->
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            // Obtenha referências aos elementos
                                            var atribuirBotao = document.getElementById("atribuir_ext_dispseg-1ano");
                                            var dataRelatorioInput = document.getElementById("relatorio_data_relatorio");
                                            var dtProxInput = document.getElementById("relatorio_dt_prox_insp_externa_dispositivo_seguranca");

                                            // Adicione um evento de clique ao botão
                                            atribuirBotao.addEventListener("click", function() {
                                                // Obtenha a data do campo "data_relatorio"
                                                var dataRelatorioValue = dataRelatorioInput.value;

                                                // Verifique se a data é válida
                                                if (dataRelatorioValue) {
                                                    var dataRelatorio = new Date(dataRelatorioValue);

                                                    // Adicione 1 ano à data
                                                    dataRelatorio.setFullYear(dataRelatorio.getFullYear() + 1);

                                                    // Formate a nova data no formato "YYYY-MM-DD"
                                                    var novaDataFormatada = dataRelatorio.toISOString().split('T')[0];

                                                    // Coloque a nova data no campo "dt_prox_insp_externa"
                                                    dtProxInput.value = novaDataFormatada;
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="form-group row">
                                    <%= form.label :dt_prox_insp_interna_dispositivo_seguranca, "Inspeção interna", {class: "col-sm-2 col-form-label text-sm-left text-lg-right"} %>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        <%= form.date_field :dt_prox_insp_interna_dispositivo_seguranca, class: "form-control" %>
                                    </div>
                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir_int_dispseg-10ano">10</button>
                                    </div>
                                    <!-- Adicione este script na parte inferior do seu HTML -->
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function() {
                                            // Obtenha referências aos elementos
                                            var atribuirBotao = document.getElementById("atribuir_int_dispseg-10ano");
                                            var dataRelatorioInput = document.getElementById("relatorio_data_relatorio");
                                            var dtProxInput = document.getElementById("relatorio_dt_prox_insp_interna_dispositivo_seguranca");

                                            // Adicione um evento de clique ao botão
                                            atribuirBotao.addEventListener("click", function() {
                                                // Obtenha a data do campo "data_relatorio"
                                                var dataRelatorioValue = dataRelatorioInput.value;

                                                // Verifique se a data é válida
                                                if (dataRelatorioValue) {
                                                    var dataRelatorio = new Date(dataRelatorioValue);

                                                    // Adicione 1 ano à data
                                                    dataRelatorio.setFullYear(dataRelatorio.getFullYear() + 10);

                                                    // Formate a nova data no formato "YYYY-MM-DD"
                                                    var novaDataFormatada = dataRelatorio.toISOString().split('T')[0];

                                                    // Coloque a nova data no campo "dt_prox_insp_externa"
                                                    dtProxInput.value = novaDataFormatada;
                                                }
                                            });
                                        });
                                    </script>
                                    <div class="col-sm-1 mb-1 mb-sm-0">                                        
                                        <button type="button" id="atribuir_insp_int_dispseg_rel_anterior">&#x2190;</button>
                                    </div>
                                    <%= form.label @ultimo_rel.dt_prox_insp_interna_dispositivo_seguranca, @ultimo_rel.dt_prox_insp_interna_dispositivo_seguranca.strftime('%d/%m/%Y'), {class: "col-sm-2 col-form-label text-sm-left text-lg-right", id: "prox_insp_int_dispseg_ultimo_relatorio"} %>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function() {
                                            const button = document.getElementById('atribuir_insp_int_dispseg_rel_anterior');
                                            const dataLabel = document.getElementById('prox_insp_int_dispseg_ultimo_relatorio');
                                            const dataField = document.getElementById('relatorio_dt_prox_insp_interna_dispositivo_seguranca');

                                            button.addEventListener('click', function() {
                                            const labelText = dataLabel.textContent;
                                            const dateArray = labelText.split('/');
                                            const formattedDate = `${dateArray[2]}-${dateArray[1]}-${dateArray[0]}`;
                                            
                                            dataField.value = formattedDate;
                                            });
                                        });
                                    </script>
                                </div>

                            </fieldset>

                            <hr>

                            <div class="form-group row">
                                <div class="form-check col-sm-4 mb-0 mb-sm-0">
                                    <% if @relatorio.avaliadoph %>
                                        <%= form.check_box :b_rascunho, class: "form-check-input", id: "RascunhoCheckbox", disabled: true %>
                                    <% else %>
                                        <%= form.check_box :b_rascunho, class: "form-check-input", id: "RascunhoCheckbox" %>
                                    <% end %>
                                    <%= form.label :b_rascunho, "Em aberto", class: "form-check-label", for: "RascunhoCheckbox" %>
                                </div>                                
                                <div class="form-check col-sm-4 mb-0 mb-sm-0">
                                    <%= form.check_box :brel_impresso, class: "form-check-input", id: "RelImpressoCheckbox" %>
                                    <%= form.label :brel_impresso, "Já impresso", class: "form-check-label", for: "RelImpressoCheckbox" %>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="form-check col-sm-4 mb-0 mb-sm-0">
                                    <%= form.check_box :avaliadoph, class: "form-check-input", id: "AvaliadoPhCheckbox" %>
                                    <%= form.label :avaliadoph, "Avaliado PH", class: "form-check-label", for: "AvaliadoPhCheckbox" %>
                                </div>
                            </div>

                            <script>
                                window.addEventListener("load", function () {
                                    const primeiroCheckbox = document.getElementById("RascunhoCheckbox");
                                    const segundoCheckbox = document.getElementById("AvaliadoPhCheckbox");
                                    const impressoCheckbox = document.getElementById("RelImpressoCheckbox")

                                    segundoCheckbox.addEventListener("click", function () {
                                    primeiroCheckbox.checked = false;
                                    primeiroCheckbox.disabled = this.checked;
                                    impressoCheckbox.disabled = !this.checked;
                                    if (!this.checked) { impressoCheckbox.checked = this.checked; }
                                    });
                                });
                            </script>

                            <hr>
                            
                            <%= button_tag "Gravar avaliação", type: "submit", class: "btn btn-primary", name: "btn_gravar_avaliacaoph" %>
                                                        
                        <% end %>                                                                     
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- FIM DO CONTAINER DO FORM -->