<%=@relatorio.id%> <br>
<%=@relatorio.vaso.num_serie%> <br>
<%=@relatorio.vaso.fabricante.nome_curto%> <br>


<hr>

<%= button_tag "Retornar", type: "button", class: "btn btn-secondary", onclick: "window.history.back();" %>

<button class="btn btn-secondary" type="button" id="custom_submit_button" onclick="window.location.href='<%= admins_backoffice_relatorios_imprime_registro_inspecao_path(@vaso.id, format: :pdf, b_assinar: false) %>';">
    <i class="fas fa-file-pdf fa-sm"></i> Gerar PDF
</button>

<button class="btn btn-secondary" type="button" id="custom_submit_button" onclick="window.location.href='<%= admins_backoffice_relatorios_imprime_registro_inspecao_path(@vaso.id, format: :pdf, b_assinar: true) %>';">
    <i class="fas fa-file-pdf fa-sm"></i> Gerar PDF assinado
</button>