<%= render partial: 'admins_backoffice/relatorios/shared/antes_form_inspecao' %>

                       
                        <%= form_with(model: [ :admins_backoffice, @relatorio ], local: true, :html => { :multipart => true }) do |form| %>
                            
                            <%= render partial: 'admins_backoffice/relatorios/shared/botoes_navegacao' %>                            
                            
                            <div class="form-group row">
                                <div class="form-check col-sm-6 mb-0 mb-sm-0 d-inline">
                                    <%= form.check_box :bpressostato_existe, class: "form-check-input", id: "ExistePressostatoCheckbox" %>
                                    <%= form.label :bpressostato_existe, "Existe pressostato", class: "form-check-label", for: "ExistePressostatoCheckbox" %>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="form-check col-sm-6 mb-0 mb-sm-0 d-inline">
                                    <%= form.check_box :bpressostato_ehmantido_calibrado_eemboas_condicoes_operacao, class: "form-check-input", id: "PressostatoManCalCheckbox" %>
                                    <%= form.label :bpressostato_ehmantido_calibrado_eemboas_condicoes_operacao, "É mantido calibrado e em boas condições", class: "form-check-label", for: "PressostatoManCalCheckbox" %>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="form-check col-sm-6 mb-0 mb-sm-0 d-inline">
                                    <%= form.check_box :bpressostato_tem_sinais_manutencao, class: "form-check-input", id: "PressostatoSinaisManCheckbox" %>
                                    <%= form.label :bpressostato_tem_sinais_manutencao, "Tem sinais de manutenção", class: "form-check-label", for: "PressostatoSinaisManCheckbox" %>
                                </div>
                            </div>                            
                            
                            <div class="form-group row">
                                <div class="form-check col-sm-6 mb-0 mb-sm-0 d-inline">
                                    <%= form.check_box :bpressostato_foisubstituido, class: "form-check-input", id: "PressostatoSubsCheckbox" %>
                                    <%= form.label :bpressostato_foisubstituido, "Foi substituido/instalado", class: "form-check-label orange-label", for: "PressostatoSubsCheckbox" %>
                                </div>
                            </div>                            
                            <div class="form-group row">
                                <div class="form-check col-sm-6 mb-0 mb-sm-0 d-inline">
                                    <%= form.check_box :bpressostato_foifeito_ajuste, class: "form-check-input", id: "PressostatoFeitoAjusteCheckbox" %>
                                    <%= form.label :bpressostato_foifeito_ajuste, "Foi feito ajuste", class: "form-check-label orange-label", for: "PressostatoFeitoAjusteCheckbox" %>
                                </div>
                            </div>
                            
                        <div class="form-group row">
                          <div class="form-check col-sm-6 mb-0 mb-sm-0 d-inline">
                            <%= form.check_box :bpressostato_foiverificada_faixadetrabalho, class: "form-check-input", id: "PressostatoVerifFaixaCheckbox" %>
                            <%= form.label :bpressostato_foiverificada_faixadetrabalho, "Foi verificada a faixa de trabalho", class: "form-check-label orange-label", for: "PressostatoVerifFaixaCheckbox" %>
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <div class="col-sm-6 mb-3 mb-sm-0">
                            <%= form.label :pressostato_pliga, "Pressão liga", class: "red-label" %>
                            <%= form.number_field :pressostato_pliga, step: 0.001, min: -10, required: false, style: 'width: 100px;', disabled: !@relatorio.bpressostato_foiverificada_faixadetrabalho?, id:"object_pressostato_pliga"  %>
                            [MPa]
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <div class="col-sm-6 mb-3 mb-sm-0">
                            <%= form.label :pressostato_pdesliga, "Pressão desliga", class: "red-label" %>
                            <%= form.number_field :pressostato_pdesliga, step: 0.001, min: -10, required: false, style: 'width: 100px;', disabled: !@relatorio.bpressostato_foiverificada_faixadetrabalho?, id:"object_pressostato_pdesliga"  %>
                            [MPa]
                          </div>
                        </div>
                        
                        <script>
                          const checkbox = document.getElementById("PressostatoVerifFaixaCheckbox");
                          const pligaInput = document.getElementById("object_pressostato_pliga");
                          const pdesligaInput = document.getElementById("object_pressostato_pdesliga");
                        
                          checkbox.addEventListener("change", function() {
                            pligaInput.disabled = !this.checked;
                            pdesligaInput.disabled = !this.checked;
                          });
                        </script>
                                          
                            <div class="form-group row">                                
                                <%= form.label :pressostato_observacoes, 'Obs.', {class: "col-sm-1 col-form-label text-sm-left text-lg-right"} %>
                                <div class="form-check col-sm-6 mb-0 mb-sm-0">
                                    <%= form.text_field :pressostato_observacoes, class: "form-control"  %>
                                </div>
                            </div>
                                
                           
                            
                            <hr>
                            
                            <br> <br>
                            
                            <%= button_tag "Gravar e Voltar", type: "submit", class: "btn btn-primary", name: "btn_insp_dispseg" %>
                            <%= button_tag "Gravar e Sair", type: "submit", class: "btn btn-primary", name: "btn_gravar_sair" %>
                            <%= button_tag "Gravar e Avançar", type: "submit", class: "btn btn-primary", name: "btn_insp_dreno" %>
                                                        
                        <% end %>                                                                     

<%= render partial: 'admins_backoffice/relatorios/shared/depois_form_inspecao' %>