<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"><%= t('mensagens.lista_de', model: @ambiente_insts.model_name.human(count: @ambiente_insts.count)) %> </h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">    
        <thead>
            <tr>
                <th>#</th>
                <th><%= traduz_atributos_humanos(@ambiente_insts, :ambiente_insts) %> </th>                
                <th>
                    <%= link_to  new_admins_backoffice_ambiente_inst_path, class:"btn btn-success btn-circle btn-sm" do %>
                        <i class="fas fa-plus"></i>
                    <% end %>
                </th>
            </tr>
        </thead>
        <tbody> 
            <% @ambiente_insts.each do |a|%>
                <tr>
                    <td><%= a.id %></td>
                    <td><%= a.ambiente %></td>
                    
                    <td style="width: 100px">
                        <%= link_to edit_admins_backoffice_ambiente_inst_path(a.id), class:"btn btn-info btn-circle btn-sm" do %> 
                            <i class="fas fa-edit"></i>
                        <%end%>
                        <%= link_to admins_backoffice_ambiente_inst_path(a.id), 
                                    method: :delete, class:"btn btn-danger btn-circle btn-sm", 
                                    data: { confirm: t('mensagens.confirmar_exclusao', item: a.ambiente)} do %>
                            <i class="fas fa-minus"></i> 
                        <%end%>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @ambiente_insts %>
    
</div>