<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"> <%= action_messege %> </h1>
</div>

<!-- Se tiver algum erro dentro de @admin, erro devido a processo de salvamento por exemplo, entra no alerta abaixo -->
<% if @admin.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>        
        <ul>
            <% @admin.errors.full_messages.each do |message| %>
            <li> <%= message -%> </li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with(model: [ :admins_backoffice, @admin ], local: true) do |form| %>
    
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :nome %>
            <%= form.text_field :nome, class: "form-control", placeholder: t('placeholders.entre_nome_administrador')%>
        </div>        
    </div>
    
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :email %>
            <%= form.text_field :email, class: "form-control", placeholder: t('placeholders.entre_email_administrador')%>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control", autocomplete: "new-password",placeholder: t('placeholders.entre_senha_administrador')%>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, class: "form-control", placeholder: t('placeholders.entre_confsenha_administrador')%>
        </div>        
    </div>

    <button type="submit" class="btn btn-primary"><%= t('botoes.gravar')%></button>

    <hr>    
<% end %>