<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"> <%= action_messege %> </h1>
</div>

<!-- Se tiver algum erro dentro de @material, erro devido a processo de salvamento por exemplo, entra no alerta abaixo -->
<% if @material.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>        
        <ul>
            <% @material.errors.full_messages.each do |message| %>
            <li> <%= message -%> </li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with(model: [ :admins_backoffice, @material ], local: true) do |form| %>
    
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <%= form.label :descricao %>
            <%= form.text_field :descricao %>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"><%=t('botoes.gravar')%></button>

    <hr>    
<% end %>