<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"><%= t('mensagens.lista_de', model: @cidades.model_name.human(count: @cidades.count)) %></h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">    
        <thead>
            <tr>
                <th>#</th>                
                <th><%= traduz_atributos_humanos(@cidades, :cidade) %> </th>
                <th>
                    <%= link_to  new_admins_backoffice_cidade_path, class:"btn btn-success btn-circle btn-sm" do %>
                        <i class="fas fa-plus"></i>
                    <% end %>
                </th>
            </tr>
        </thead>
        <tbody> 
            <% @cidades.each do |cid|%>                                                                              
                <tr>
                    <td><%= cid.id %></td>
                    <td><%= cid.nome %></td>                    

                    <td style="width: 50px">
                        <%= link_to edit_admins_backoffice_cidade_path(cid.id), class:"btn btn-info btn-circle btn-sm" do %> 
                            <i class="fas fa-edit"></i>
                        <%end%>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= paginate @cidades %>
    
</div>
