<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Inspeção Vaso</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application' %>
        <%= stylesheet_link_tag    'site' %>     
  </head>

  <body>   
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        
          <div class="navbar-header">            
            <%= link_to 'MANTINSP', root_path, class:"navbar-brand" %>
          </div>
        
          <div class="collapse navbar-collapse" id="navbarsExample08">
            
              <ul class="navbar-nav justify-content-end">
              
              <% unless user_signed_in? %>            
                  <li class="nav-item active">                
                      <%= link_to 'Entrar', new_user_session_path, class:"nav-link" %>
                  </li>
  
                  <li class="nav-item active">                
                      <%= link_to 'Cadastrar-se', new_user_registration_path, class:"nav-link" %>
                  </li>
                  
              <% else %>
                  <li class="nav-item">                  
                    <%= form_with(url: site_pesquisa_path, local: true, method: :get, class:"form-inline") do |form| %> 
                      <div class="input-group">                        
                        <%= form.text_field :termo, class:"form-control", placeholder:"# série" %>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
                        </div>
                      </div>
                    <% end %>
                  </li>
                
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <%= current_user.email %>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdown08">                    
                          
                          <%= link_to users_backoffice_welcome_index_path, class: "dropdown-item" do %>
                              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil
                          <% end %>
      
                          <div class="dropdown-divider"></div>
      
                          <%= link_to destroy_user_session_path, class:"dropdown-item", method: :delete do %>
                              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
                          <% end %>
      
                      </div>
                  </li>                         
                  
                  
              <% end %>
  
              </ul>
              
          </div>
      </nav>
    
      <%= yield %>
    
    </div> <!-- /container -->


    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>
    
    <%if notice %>
        <%= javascript_tag do %>
            $.bootstrapGrowl("<%= notice %>", {
            ele: 'body', // which element to append to
            type: 'success', // (null, 'info', 'error', 'success')
            offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
            align: 'right', // ('left', 'right', or 'center')
            width: 250, // (integer, or 'auto')
            delay: 4000,
            allow_dismiss: true,
            stackup_spacing: 10 // spacing between consecutively stacked growls.
            });
        <%end%>
    <%end%>

  </body>
</html>
